# Object Orientated Programming

This is a beginner guide exploring the concepts behind object orientated programming using the Python programming language. This can be viewed in the browser however the Interactive Python Notebook File can also be opened in JupyterLab. Instructions are given below for installing JupyterLab.

## Installing Python, Anaconda and JupyterLab3

It is recommended to install the Anaconda Python Distribution. The Anaconda Python Distribution contains the Python programming language, plus a number of Python libraries which are commonly used for data science (this particular guide will only look at the Python Programming language and won't delve into other libraries) and a number of Integrated Developer Environments (IDEs) which allow the user to interface with Python. The Spyder and JupyterLab IDEs are particularly good for begineers and geared towards data scientists. The JupyterLab IDE allows one to write code within a Notebook file which can contain code and markdown cells (test, Latex equations, links and pictures). This document is written in JupyterLab and this guide focuses on using JupyterLab.

### Installing Anaconda

__[Anaconda Individual Edition Download](https://www.anaconda.com/products/individual)__

Select your Operating System and install the 64 Bit option. I will use Windows 10 as an example.

![Anaconda_1](Anaconda_1.png)

Once Anaconda is downloaded, launch the setup.

![Anaconda_2](Anaconda_2.png)

Select next.

![Anaconda_3](Anaconda_3.png)

Read the End User Licence Agreement and select I Agree.

![Anaconda_4](Anaconda_4.png)

![Anaconda_Launch](Anaconda_Launch.png)

Select Just Me and then Next.

![Anaconda_5](Anaconda_5.png)

Anaconda will be installed by default within your User Directory. Select Next.

![Anaconda_6](Anaconda_6.png)

It is recommended to use the default options. Select Install.

![Anaconda_7](Anaconda_7.png)

Select Next.

![Anaconda_8](Anaconda_8.png)

Select Next.

![Anaconda_9](Anaconda_9.png)

Anaconda is installed. Now select Finish.

![Anaconda_10](Anaconda_10.png)

### Updating JupyterLab

The Anaconda installation contains an older version of JupyterLab. You will need to update it by using the Anaconda Powershell Prompt.

![JupyterLab_Install1](JupyterLab_Install1.png)

Copy and paste the following line of code.

```conda install -c conda-forge jupyterlab=3```

![JupyterLab_Install2](JupyterLab_Install2.png)

To proceed with the install type in.

```y```

![JupyterLab_Install3](JupyterLab_Install3.png)

JupyterLab should now be installed.

![JupyterLab_Install4](JupyterLab_Install4.png)

Launch the Anaconda Navigator.

![Anaconda_1](Anaconda_1.png)

### Launching JupyterLab

From the Anaconda Navigator you can launch JupyterLab.

![JupyterLab_Launch1](JupyterLab_Launch1.png)

JupyterLab will now display within your browser. To the left hand side is a file explorer. To the right side is a launcher.

![JupyterLab_Launch2](JupyterLab_Launch2.png)

### Downloading and Opening the Interactive Python Notebook (IPYNB) File from GitHub

The folder containing all embedded images and this JupyterLab Notebook should be downloaded as a zip file from GitHub and extracted to a folder of your desired location.

__[GitHub Object Orientated Programming](https://github.com/PhilipYip1988/1-object-orientated-programming)__

![GitHub](GitHub.png)

Navigate to your extracted folder and open up objectorientatedprogramming.ipynb

![OpenJupterLabNotebook](OpenJupterLabNotebook.png)

Because it has a number of images embedded it will take a minute or so to load.

![OpenJupterLabNotebook2](OpenJupterLabNotebook2.png)

The notebook will display.

![OpenJupterLabNotebook3](OpenJupterLabNotebook3.png)

You can select Kernel and either Restart Kernel and Clear All Outputs (if you want to look at the Notebook cell by cell) or Restart Kernal and Run All Cells (if you want to quickly scroll through it).

![OpenJupterLabNotebook4](OpenJupterLabNotebook4.png)

To the left hand side you can select the Notebook bookmarks.

![OpenJupterLabNotebook5](OpenJupterLabNotebook5.png)

## Numeric Variables

### Integer Numbers (int)

Python recognises numeric integer values for example.

In [1]:
1

1

It also recognises numeric operators such as:
* (+ add) which adds the 0th number (self) to the 1st number (other)
* (- sub) which takes the 0th number (self) and subtracts the 1st number (other)
* (* mul) which multiplies the 0th number (self) and the 1st number (other)
* (** pow) which gives the 0th number (self) to the power of the 1st number (other)

In [2]:
1+2

3

In [3]:
2-1

1

In [4]:
2*2

4

In [5]:
2**3

8

All the numbers above are objects. Python is an object orientated programming language. The object type can be checked by use of the function type. If the function type is called without parenthesis the return statement will just tell us we have used the function type (which isn't so useful).

In [6]:
type

type

A function uses parenthesis to enclose its input arguments. Details about the input arguments can be found by typing in the function followed by tab ↹ and shift ⇧. In this case we see that there is a single positional input argument self (or object).

![function_type](function_type.png)

For example we can use the number 4 as the object.

In [7]:
type(4)

int

We see that the type returns int (an abbreviation for integer) meaning it corresponds to a whole number.

We can use 
* (// truediv) which takes the 0th number (self) and divides it by the 1st number (other) to return an integer. If the 0th number (self) does not divide fully by the 1st number (self) only a comple integer will be returned and there will be a bit left behind known as a remainder or modulo.
* (% mod) returns the modulo from the equivalent true divide.

4 true divided by 2 gives 2 complete integers and no modulo integer.

In [8]:
4//2

2

In [9]:
4%2

0

5 integer divided by 2 gives 2 complete integers and a modulo integer of 1.

In [10]:
5//2

2

In [11]:
5%2

1

In Python it is also possible to assign objects to object names. Object names should be in lower case letters without spaces or special characters. The underscore \_ can be used as part of the object name. Object names can contain numbers but can't begin with a number. For example let's create the object a and assign it to the value 4. In Python the = sign is known as the assignment operator.

In [12]:
a=4

The above means the object a is assigned to the value of 4.

Note when we assign a value to an object name we do not see anything printed in the cell. We can see the value of an object by typing it directly in a cell.

In [13]:
a

4

We can also use the function print to print the value of an object to the cell output. Recall that to use a function we need to use parenthesis. Details about the input arguments can be found by typing in the function followed by tab ↹ and shift ⇧. In this case we see that there is a single positional input argument value followed by a ... The ... tells us that we can place multiple different values as positional input arguments. To seperate each value out we must use the comma , as a delimiter. There are additional keyword input arguments sep, end, file and flush which have a default value. This default value will be used when the keyword input argument is not specified. We will ignore these for now and come back to them later.

![function_print](function_print.png)

This time our object has the name a, so we will print the value of this object.

In [14]:
print(a)

4

As we seen above the object name a corresponds to a value of 4. The object name can be used in numeric calculations in place of the value 4.

In [15]:
a+1

5

When using the assignment operator = the object name must be on the left hand side of the assignment operator and the value assigned to the object name is on the right hand side.

The following line will display the following error. Note that both the code and the image of the error are placed in a markdown cell to prevent the error from holding up the Python Kernel in the notebook. This will be done for later code that also flags up errors.

```2=b```

![assignment_operator_error](assignment_operator_error.png)

The line 2=b does not make sense to python. First of all python doesn't know the numeric value of the object b and second of all it does not make sense to update the value of the number 2 to anything else as this would mess up all subsequent numeric calculations.

When the assignment operator is used, the numeric operation on the right hand side is first calculated and the value of this numeric operation is assigned to the object name.

b=2+3

The value isn't displayed in the console, we can print using the print statement.

In [16]:
b=2+3
print(b)

5

Here we see the operation on the right hand side is completed first, the calculation 2+3 is performed giving the value 5 and this is assigned to the object name b.

Python operators follow mathematical rulse for precidence.

* ( )
* \*\*
* *
* \\
* +
* -

In the following statement the * operator takes precidence of + so we perform 2\*3 to get 6 in the 0th step and then add 5 to this in the 1st step returning 11.

In [17]:
b=5+2*3
print(b)

11

With parenthesis added () the (5+2) takes precidence over the * so we get 7 in the 0th step and then multiply this by 3 in the 1st step returning21.

In [18]:
b=(5+2)*3
print(b)

21

In Python it is quite common to reassign an object name. For example, the object name a was previously assigned a value of 4.

In [19]:
print(a)

4

Now it can be reassigned a value of 3.

In [20]:
a=3

When the object is reassigned a value, the previous value is forgotten. printing the value of a will only return its currently assigned value.

In [21]:
print(a)

3

It is common to reassign a value using a calculation involving the object name itself. For example.

In [22]:
a=a+2

Everything on the right hand side is carried out first. a currently has the value of 3, therefore a+2 returns the value of 5. This value of 5 is then reassigned to the object name a. Now a has a value of 5. Using the print function with the object a as the positional input argument should therefore return the value of 5.

In [23]:
print(a)

5

It is quite common to increment the value of an integer by +n or -n in particular. The operator +=n and -=n will perform an inplace update of the value a.

In [24]:
a+=1

In [25]:
print(a)

6

In [26]:
a+=1

In [27]:
print(a)

7

In [28]:
a-=2

In [29]:
print(a)

5

Let's have a look at the object a in more detail. First let's have a look at its type.

In [30]:
type(a)

int

We see that it is a type int. a therefore shares common properties with other int objects. In Python, an object can possess attributes and methods. These can be accessed by typing in the objects name followed by a dot . and then pressing tab ↹. The list below shows attributes in blue and methods in orange which we will explore in more detail in a moment.

![int_attributes_methods](int_attributes_methods.png)

Each object is an instance of a class. More explicitly an instance called b can be created using an int class.

The Init signature of inbuilt classes such as int uses a similar syntax to a function. Typing in int followed by tab ↹ and shift ⇧ gives details about the input arguments. Like a function, a class Init signature uses parenthesis to encapsulate the input arguments.

![instance_int_class](instance_int_class.png)

The following line creates an instance b (b is the instance name or object name) of the class int. Thinking of the class init signature as analagous to a function, the positional input argument x is the value we wish to make the integer.

In [31]:
b=int(3)

Creating an instance of a class is also known as instantiating a class.

Notice that the 0th positional input argument (python uses 0 order indexing so we count from 0 upwards) in a class is called self. Once a class is instantiated, self becomes a reference to the object name, in this case b. Typing in the instance name b followed by a dot . and ↹ shows the list of attributes and methods available to call from the instance b.

![int_attributes_methods2](int_attributes_methods2.png)

Note that these are identical to the attributes and methods available to call from the instance a. This is because both a and b are instances of the class int and these methods and attributes belong to the int class.

The list below shows attributes (instances) in orange and methods (functions) in blue.

An attribute of the object b can be thought of as an additional object that is referenced with respect to b. It is often a property of b. For example the attribute real will find the real component of b and this will also be an instance of the class int. imag will find the imaginary component of b and will also be an instance of the class int. In this case the real component is 3 and the number isn't a complex number so its imaginary component is 0.

Attributes do not have input arguments and are therefore always called without parenthesis.

In [32]:
b.real

3

In [33]:
b.imag

0

As the attribute itself is an object, in this case also an int attributes and methods will be accessible from the attribute.

![int_attributes_methods3](int_attributes_methods3.png)

b.real looks up the real component of b and b.real.real looks up the real component of the real component of b.

In [34]:
b.real.real

3

And so on and so forth.

In [35]:
b.real.real.real.real.real.real.real.real.real.real.real.real

3

Methods usually possess input arguments and have to always be called with parenthesis. If a method is called without parenthesis the output will inform the user that it is a function belonging to the int class i.e. a method of the int class. Recall when the function type was called without parenthes we got a similar behaviour.

In [36]:
b.conjugate

Details about the input arguments can be found by typing in the function followed by tab ↹ and shift ⇧ (again in the same manner as they are determined for functions). In this case we see that there are no input arguments.

![int_method_conjugate](int_method_conjugate.png)

Therefore the method is called without any input arguments.

In [37]:
b.conjugate()

3

Attributes are read directly as properties of the object. The method conjugate may look like an attribute at first glance however uses an underlying function to calculate the complex conjugate. Behind the scenes the method conjugate looks at the attribute b.real for the real component and the attribute b.imag for the imaginary component and then reverses the sign of the imaginary component to return the complex conjugate.

An instance can be deleted by using the function del.

In [38]:
del(b)

Trying to access a variable that has been deleted (or has never existed because it has never been defined) gives a NameError.

The following line will display the following error. Once again both the code and the image of the error are placed in a markdown cell to prevent the error from holding up the Python Kernel in the notebook.

```b```

![NameError](NameError.png)

### Floating Point Numbers (float)

We have discussed int numbers and int operations so far. It is also possible to create a floating point number i.e. a number that has a decimal component. The . is used to denote a decimal point.

In [39]:
c=2.1

Let's check the type of c.

In [40]:
type(c)

float

We see that the type is float (an abbreviation for floating point number). If we type in the instance name followed by a dot . and then tab ↹ we will see a list of attributes and methods.

![float_attributes_methods](float_attributes_methods.png)

If we compare this to b we will see some commonalities as both are numeric objects however there are slight differences reflecting the fact that these are different classes.

![int_attributes_methods2](int_attributes_methods2.png)

The method is_integer for example will check if a floating point number is an integer. Typing in the float method is_integer and pressing tab ↹ and shift ⇧ gives details about the methods input arguments

![float_method_is_integer](float_method_is_integer.png)

We see in this case that the method once again has no input arguments, so is called using empty parenthesis. The value returned is False which is expected as this has a non-zero component following the decimal point.

In [41]:
c.is_integer()

False

We can also explicitly instantiate (create an instance of) a float class.

In [42]:
d=float(2.0)

If we type in the instance name followed by a dot . and then tab ↹ we will see a list of attributes and methods. These match those of the object c as both c and d are instances of the float class.

![float_attributes_methods2](float_attributes_methods2.png)

If we use the float method is_integer using the instance d we will get a return value of True as there is no non-zero number following the decimal point.

In [43]:
d.is_integer()

True

Earlier we see integer division (truediv //) and modulo (mod %). We can also perform float or true division.
* (truediv /) divides the 0th number by the 1st number and returns a float.

In [44]:
5/2

2.5

Note that float division always returns a float. This occurs even when the return value is a complete number. For example.

In [45]:
e=4/2

e looks like an int.

In [46]:
e

2.0

However when we check its type we see that it is a float.

In [47]:
type(e)

float

In [48]:
e.is_integer()

True

The output can be converted explicitly to an instance of the int class.

In [49]:
e=int(e)

The type is now int and not float.

In [50]:
type(e)

int

Note when a float gets converted to an int, the decimal component gets truncated.

In [51]:
c

2.1

In [52]:
int(c)

2

### Booleans

When we used the float method is_integer we got back a value True or False (note the capitlaization). These are known as Boolean values.

In [53]:
f=True

If we look at the type, we can see that it is the type bool.

In [54]:
type(f)

bool

If we type in the instance name followed by a dot . and then tab ↹ we will see a list of attributes and methods. These attributes and methods are the same as the int class.

![bool_attributes_methods](bool_attributes_methods.png)

For most numeric calculations we can treat a True and False as 1 and 0 respectively. 

We can use the comparison operators:
* (== eq) checks if the 0th number (self) is equal to the 1st number (other).
* (!= ne) checks if the 0th number (self) is not equal to the 1st number (other).
* (< lt) checks if the 0th number (self) is less than the 1st number (other).
* (> gt) checks if the 0th number (self) is greater than the 1st number (other).
* (<= le) checks if the 0th number (self) is less than or equal to the 1st number (other).
* (>= ge) checks if the 0th number (self) us greater than or equal to the 1st number (other).

These return a Boolean (True or False) value respectively.

In [55]:
True==1

True

In [56]:
False==0

True

Note do not confuse the (eq ==) operator with the assignment operator (=). Also recall that all operations to the right are carried out before using the assignment operator. In the example below, the check for is 1 equal to 2 gives a False return statement which is then assigned to the object name g. g is an instance of the bool class.

In [57]:
g=1==2

In [58]:
g

False

In [59]:
type(g)

bool

Knowing True takes the value 1 and False takes the value 0, the following numeric operations can be carried out.

In [60]:
True+False

1

In [61]:
True*False

0

In [62]:
True-False

1

We can use comparison statements to check whether or not two expressions are equal. Care should be taken when using comparison statements with the float datatypes. Compare the two statements below. The exact value 2 and the exact value 1 when summed together make the exact value of 3 and the expression below shows True as expected.

If both sides are divided by 10 (i.e. have a datatype float)Details about the input arguments can be found by typing in the function followed by tab ↹ and shift  and the same equivalence is made the comparison yields a False result.

In [63]:
2+1==3

True

In [64]:
0.2+0.1==0.3

False

Computers store numbers to a limited precision using binary notation. The calculation 0.1+0.2 (using decimal) leads to an exact number 0.3 but in binary it recurs forever (similar to the idea of a third in decimal notation). In any case to the default high precision number of decimal places, the last value is non-zero and therefore the two sides of the expression are not equivalent.

In [65]:
0.2+0.1

0.30000000000000004

In most practical applications we wouldn't use such a high number of decimal places. We may decide 6 digits suffice. We can use the function round. Details about the input arguments for the function round can be found by typing in the function followed by tab ↹ and shift. We see number is a positional input argument and ndigits is a keyword input argument with a default value of 0. As this is a function, the input arguments must be enclosed in parenthesis. As we are using multiple input arguments we must use a comma , as a delimiter to seperate the input arguments.

![round](round.png)

In [66]:
round(0.1+0.2,ndigits=6)

0.3

To this assigned number of digits the statement is True (as expected).

In [67]:
round(0.1+0.2,ndigits=6)==round(0.3,ndigits=6)

True

### Complex Numbers

The square root of a negaive number yields a complex number with an imaginary component used to handle the negative square root.

In [68]:
(-4)**0.5

(1.2246467991473532e-16+2j)

In [69]:
type((-4)**0.5)

complex

The real component of the above number is represented using scientific notation. The e-16 denotes we are 16 places after the decimal point i.e. a very tiny number.  

1e2 denotes we will have two zeros after the number.

In [70]:
1e2

100.0

1e0 denotes we will have no zeros after the number.

In [71]:
1e0

1.0

1e-2 denotes we have 2 zeros before the number.

In [72]:
1e-2

0.01

A complex number (with a real and imaginary component) can be instantiated from the complex class. To instantiate a complex number both a real and imag component need to be speciifed.

![instance_complex_class](instance_complex_class.png)

Note for convenience the init signature of the complex class uses keyword input arguments which have a defaullt value of 0 unless explictly specified. We can set them to 1 and -2 respectively.

In [73]:
h=complex(real=1,imag=-2)

In [74]:
h

(1-2j)

![complex_attributes_methods](complex_attributes_methods.png)

The attributes real and imag will look up the real and imaginary components respectively.

In [75]:
h.real

1.0

In [76]:
h.imag

-2.0

In [77]:
h.conjugate()

(1+2j)

## Text Variables (str)

It is also possible to create a variable that is a string of text abbreviated str. The string of text must be enclosed in quotation marks to prevent confusion with the variable name.

In [78]:
i='i'

The str 'i' is assigned to the object name i. Note the difference in the color coding between the str on the right hand side and the variable name on the left hand side.

Sometimes the str may require a quotation or other special characters. Note when a quotation is added to the str, Python terminates the str opposed to including it within the str.

![str_quotation](str_quotation.png)

This can be addressed using the special character \ to denote that a quotation is supposed to be incorporated into the str.

In [79]:
"Philip's"

"Philip's"

Note the output also shows that we can use double quotations for this particular case.

In [80]:
"Philip's"

"Philip's"

We can see what the string of character looks like by using the print function.

In [81]:
print('Philip\'s')

Philip's

Sometimes we will need to use both double quotes and single quotes and we must use the \ to denote which quotes we want as part of the str.

In [82]:
'Philip\'s \"quote\"'

'Philip\'s "quote"'

In [83]:
print('Philip\'s \"quote\"')

Philip's "quote"

The \ followed by t and n denotes a new line and tab respectively.

In [84]:
'\tPhilip\'s \n\"quote\"'

'\tPhilip\'s \n"quote"'

In [85]:
print('\tPhilip\'s \n\"quote\"')

	Philip's
"quote"

In some cases for example file paths we need to use the special character \. We must use \\. The 0th \ denotes the fact we want to use a special character and the 1st \ denotes that we want \ as the special character.

In [86]:
'C:\\Users'

'C:\\Users'

In [87]:
print('C:\\Users')

C:\Users

As file paths are used quite often in programming and copied from Windows Explorer which uses a single \ we also have a special string called a relative string. A special string prepends r in front of the quotation. Any \ seen in the str is automatically converted into a \\.

In [88]:
r'C:\Users'

'C:\\Users'

There is also a special string known as a formatted string. To use a formatted string prepend f to the front of the quotation. A formatted string can be used to place variables within the str by use of curly brackets {}.

In [89]:
user='Philip'
print(f'hello {user}')

hello Philip

We can also explicitly instantiate (create an instance of) a str class.

![instance_str_class](instance_str_class.png)

In [90]:
j=str('philip')

![str_methods](str_methods.png)

If we type in the instance name followed by a dot . and then tab ↹ we will see a list of attributes and methods. These are related to text objects (str) opposed to numeric objects (str, float, bool, complex) as seen previously.

The method capitalize will capitalize the str. Details about the input arguments can be found by typing in the function followed by tab ↹ and shift ⇧. In this case we see that there are no input arguments and the method transforms the original str to return it with a capital letter.

![str_method_capitalize](str_method_capitalize.png)

In [91]:
j.capitalize()

'Philip'

We can use a similar method upper to make the entire str upper case.

In [92]:
j.upper()

'PHILIP'

Note that j is unchanged and the output is just printed to the console.

In [93]:
j

'philip'

We need to assign the output to the original object name to perform an inplace update.

In [94]:
j=j.upper()

In [95]:
j

'PHILIP'

We also have the str method lower to return the str to lower case.

In [96]:
j=j.lower()

In [97]:
j

'philip'

The str method replace can be used to replace an old value with a new value. Details about the input arguments can be found by typing in the function followed by tab ↹ and shift ⇧. The positional input arguments old and new must be placed in order between the parenthesis when ccalling this method.

![str_method_replace](str_method_replace.png)

Some people spell my name with a 'f' instead of a 'ph' so let's use this as an example.

In [98]:
j.replace('ph','f')

'filip'

The (+ add) operater in a str performs concatenation of the str with another str, for example if I want to concatenate my first name to my sirname.

In [99]:
'Philip'+'Yip'

'PhilipYip'

Note that concatenation does not provide spacing. If I want to concatenate a space, I will have to concatenate one seperately.

In [100]:
'Philip'+' '+'Yip'

'Philip Yip'

The (* mul) operator will work between a str and an int n to replicate the str n times.

In [101]:
5*'Philip'

'PhilipPhilipPhilipPhilipPhilip'

Note that using the (+ add) operator instead will result in a TypeError. This is because there is no logical behaviour for adding an int to an undefined value (a str does not equate to a number).

```5+'Philip'```

![str_int_concatenate_typeerror](str_int_concatenate_typeerror.png)

Multiplying two str will also give a TypeError as there is no physical meaning behind this operation.

```'Philip'*'Philip'```

![str_str_multiply_typeerror](str_str_multiply_typeerror.png)

Care should therefore be taken when working with different datatypes.

## The input Function

The input function can be used to gather information from a user. To view details about the functions input arguments we can press tab ↹ and shift ⇧. The keyword input argument prompt (also acts as a positional input argument) is a question to ask the user.

![function_input](function_input.png)

To prevent the input statements from holding up the Python Kernel, the code containing input statements will be placed in a markdown cell and screenshots of the output will be placed in the markdown cell.

```
yourname=input(prompt='What is your name?')
print(f'hello {yourname}')
```

When it is ran the cell will be marked with a \*. The dialog box will display waiting for the user to input a str.

![input_statement1](input_statement1.png)

Anything the user inputs will be converted to a str and in this case the str input by the user will be incorporated into the print statement.

![input_statement2](input_statement2.png)

Input statements always return a str and therefore the following code will not work as intended.

```
number1=input(prompt='input a number')
number2=input(prompt='input a second number')
total=number1+number2
print(f'the sum of your numbers is {total}')
```

The value total returned is '22' opposed to '4'.

![input_statement3](input_statement3.png)

If we look at the types.

```type(number1)```

```type(number2)```

We see they are both of the type str.

![input_statement4](input_statement4.png)

This means our code essentially does this.

In [102]:
'2'+'2'

'22'

Recall that + for a str performs concatenation and not addition like we want.

In [103]:
2+2

4

To get around this we need to convert our str into  number.

In [104]:
k='2'

We can use the int class to do this.

In [105]:
k=int(k)

```
number1=input(prompt='input a number')
number1=int(number1)
number2=input(prompt='input a second number')
number2=int(number2)
total=number1+number2
print(f'the sum of your numbers is {total}')
```

This works when both numbers input are int as expected.

![input_statement5](input_statement5.png)

However if the number being input is input as a float it will lead to a ValueError. This is because the class int does not recognise a str with a . in it as valid.

![input_valueerror](input_valueerror.png)

To get around this we can use the float class instead.

```
number1=input(prompt='input a number')
number1=float(number1)
number2=input(prompt='input a second number')
number2=float(number2)
total=number1+number2
print(f'the sum of your numbers is {total}')
```

![input_statement6](input_statement6.png)

## if, elif and else Branching

So far all the code above has been procedural, starting from he top of a cell and continuing down to the bottom of the cell. Sometimes we may want to construct a condition (using a Boolean) and then execute certain code only if the condition is satisfied.

An analogy to this is driving a car. So far we have only travelled straight and have not had the ability to turn either left or right.

We can use an if statement containing a condition that will execute the code belonging to the if statement only when the condition is True.

In [106]:
condition=True
if condition:
    print('Condition is True')

print('Continuing as Usual')

Condition is True
Continuing as Usual

In [107]:
condition=False
if condition:
    print('Condition is True')

print('Continuing as Usual')

Continuing as Usual

Comparing the two above we see that 'Condition is True' is only printed for the top cell and not in the bottom cell.

Let's have a look at the syntax in more detail. Following the if statement there is a condition and then a colon : The colon : indicates the beginning of a code block. Any code belonging to the code block must be indented by 4 spaces. A blank line is usually also left after ending a group of code blocks.

Code that is not indented does not belong to the code block and will be implemented regardless of the condition.

An if code block can be followed on by an else code block. Once again a colon : is used to denote the beginning of a code block and any code belonging to the code block is indented by 4 spaces. There is no condition associated with the else block as by definition it will be carried out when the condition checked in the if statement is False.

In [108]:
condition=True
if condition:
    print('Condition is True')
else:
    print('Condition is False')

print('Continuing as Usual')

Condition is True
Continuing as Usual

In [109]:
condition=False
if condition:
    print('Condition is True')
else:
    print('Condition is False')

print('Continuing as Usual')

Condition is False
Continuing as Usual

A series of other elif (else if) branches can be created in a similar manner.

In [110]:
condition1=False
condition2=True
if condition1:
    print('Condition 1 is True')
elif condition2:
    print('Condition 2 is True')
else:
    print('Conditions are False')

print('Continuing as Usual')

Condition 2 is True
Continuing as Usual

Note when using if, elif and else branches only the top branch that has a True condition will be carried out. In the example below the elif code block is not executed because the if code block has been executed.

In [111]:
condition1=True
condition2=True
if condition1:
    print('Condition 1 is True')
elif condition2:
    print('Condition 2 is True')
else:
    print('Conditions are False')

print('Continuing as Usual')

Condition 1 is True
Continuing as Usual

The code above can therefore be amended to check for both conditions using and & (the symbol or word can be used) which will return True only if both conditions are True.

In [112]:
condition1=True
condition2=True
if condition1 & condition2:
    print('Condition 1 is True')
    print('Condition 2 is True')   
elif condition1:
    print('Condition 1 is True')
elif condition2:
    print('Condition 2 is True')    
else:
    print('Conditions are False')

print('Continuing as Usual')

Condition 1 is True
Condition 2 is True
Continuing as Usual

Alternatively it can be amended to use or | (the symbol or word can be used) which will return True if either one of the conditions are True.

In [113]:
condition1=True
condition2=True
if condition1 | condition2:
    print('A Condition is True')
else:
    print('Conditions are False')

print('Continuing as Usual')

A Condition is True
Continuing as Usual

if, elif, else statements can be nested. Take note of the use of colons : and 4 character indentations.

In [114]:
condition1=True
condition2=True
if condition1 | condition2:
    print('A Condition is True')
    if condition1:
        print('Condition 1 is True')
    else:
        print('Condition 2 is True')
else:
    print('Conditions are False')

print('Continuing as Usual')

A Condition is True
Condition 1 is True
Continuing as Usual

## try and except Branching

Earlier we used the input function to import a float (in the form of a str) and then when we attempted to convert it to an int we got a ValueError. We can instead use a try code block and an except code block. These branches share commonalities with the if and else blocks except they use the absence and presence of an error as a condition.

In [115]:
k='2.1'
try:
    k=int(k)
except:
    print('k is not an int and is unchanged.')

k is not an int and is unchanged.

Except can be setup to look for a specific error, in this case let's look for both a NameError and ValueError.

In [116]:
k='2.1'
try:
    k=int(k)
except NameError:
    print('NameError. k is not assigned.')
except ValueError:
    print('ValueError. k is not an int and is unchanged.')
except:
    print('Some other error. k is unchanged.')

ValueError. k is not an int and is unchanged.

We can modify the code to delete the object k before entering the try code block which will give a NameError.

In [117]:
del(k)
try:
    k=int(k)
except NameError:
    print('NameError. k is not assigned.')
except ValueError:
    print('ValueError. k is not an int and is unchanged.')
except:
    print('Some other error. k is unchanged.')

NameError. k is not assigned.

ValueError will display if k is a str of a float or a str of alphabetical characters. We can use a nested try and except block to attempt to try to convert k to a float or to inform the user that k is neither an int or float. Let's test this by assigning k to '2.1' and 'a' respectively.

In [118]:
k='2.1'
try:
    k=int(k)
    print('k is an int')
except NameError:
    print('NameError. k is not assigned.')
except ValueError:
    try:
        k=float(k)
        print('k is a float.')
    except:
        print('ValueError. k is not an int or float and is unchanged.')        
except:
    print('Some other error. k is not an int and is unchanged.')

k is a float.

In [119]:
k='a'
try:
    k=int(k)
    print('k is an int')
except NameError:
    print('NameError. k is not assigned.')
except ValueError:
    try:
        k=float(k)
        print('k is a float.')
    except:
        print('ValueError. k is not an int or float and is unchanged.')        
except:
    print('Some other error. k is not an int and is unchanged.')

ValueError. k is not an int or float and is unchanged.

It is also possible to check for a condition and raise an error.

```
k='a'
if type(k)!=int:
        raise TypeError('k must be an int')
```

![raise_error](raise_error.png)

## Custom functions

We have already seen how to use inbuilt functions such as print, type and input.

In [120]:
print

In [121]:
type

type

In [122]:
input

When these are called without parenthesis we just get told that they are a function.

To use a function it must be called with parenthesis. Recall that we can see details about the input arguments by pressing tab ↹ and shift ⇧.

![function_print](function_print.png)

By default there is a single positional argument however the ... denotes that we can place in multiple positional arguments to print.

In [123]:
print('hello')

hello

The positional input arguments are specified in order by use of a comma , as a delimiter.

In [124]:
print('hello','goodbye')

hello goodbye

The keyword input arguments sep and end are both shown to have a default value. This default value can be reassigned when calling the function. To do so we must specify the positional arguments at the beginning and then after we have speciied the positional input arguments we can specify the optional keyword input arguments in any order. Notice for example when the keyword input argument sep is specified as --- the space that was seen between the two printed str becomes --- and when the end is changed from '\n' to '' there is no new line.

In [125]:
print('hello','goodbye',sep='---')
print('hello','goodbye',sep='---',end='')
print('hello','goodbye',sep='---')

hello---goodbye
hello---goodbyehello---goodbye

With the above in mind we can create our own function. 

First we need to define the function using def followed by the function name (which follows the same rules behind object names) and parenthesis. Then we use a colon : to start a code block and the code belonging to the function must remain in the code block. Let's create a custom print_three function. This will have no input arguments.

In [126]:
def print_three():
    print(3)

If we call it without any parenthesis we will just be informed that it is a function.

In [127]:
print_three

Recall that we can see details about the input arguments by pressing tab ↹ and shift ⇧. In this case we have not provided a doc sring so we get no details about the function. We can update it to include one. We use triple quotations to denote the creation of a doc string.

![print_three_no_doc_str](print_three_no_doc_str.png)

In [128]:
def print_three():
    '''This will print the number 3.'''
    print(3)

Now the doc string displays. Note we do not mention any details about input arguments in the custom function so the user will therefore infer that the fucntion has no input arguments.

![print_three_doc_str](print_three_doc_str.png)

The custom function can therefore be called and prints the number 3 as expected.

In [129]:
print_three()

3

There are 25.4 mm in an inch. Let's create a custom function that converts inches to mm. This will have an input argument.

In [130]:
def inch2mm(input_inches):
    '''Prints the value of input_inches to output_mm.'''
    output_mm=25.4*input_inches
    print(output_mm)

We can see details about the input arguments by pressing tab ↹ and shift ⇧.

![inch2mm_doc_str](inch2mm_doc_str.png)

Now we can use it to print the value of 2 inches.

In [131]:
inch2mm(2)

50.8

Note that we have used the print statement to print the output.

In [132]:
dim=inch2mm(2)

50.8

The print statement has the return value NoneType. This means if we assign it to an object name, the value prints but the object name is assigned to NoneType. This is not that useful if we wish to use it for further calculations.

In [133]:
dim

In [134]:
type(dim)

NoneType

To rectify this we can instead use the return statement to assign the functions return value.

In [135]:
def inch2mm(input_inches):
    '''Returns the value of input_inches to output_mm.'''
    output_mm=25.4*input_inches
    return(output_mm)

In [136]:
dim=inch2mm(2)

In [137]:
dim

50.8

We can update our function to use a keyword input argument with a default value of 1 inch. This can be a useful default if we want to just reference the conversion factor.

In [138]:
def inch2mm(input_inches=1):
    '''Returns the value of input_inches to output_mm.'''
    output_mm=25.4*input_inches
    return(output_mm)

In [139]:
dim=inch2mm()
dim

25.4

In [140]:
dim1=inch2mm(input_inches=2)
dim1

50.8

## Lambda functions

Sometimes we require a small anonymous function that is only used a handful of times. This can be achieved by using a lambda function. A lambda function can have multiple arguments but has only has a single expression. The positional input arguments follow from the lambda expression using a comma as a delimiter. The colon : is used to seperate the arguments from the expression. Recreating inch2mm as a lambda expression.

In [141]:
inch2mm=lambda a: 25.4*a

Calling the lambda function without parenthesis informs us that is is a lamba expression.

In [142]:
inch2mm

We can use it to convert 4 inches to mm.

In [143]:
dim3=inch2mm(4)

In [144]:
dim3

101.6

It is possible to create a lambda expression without input arguments.

In [145]:
print_three=lambda : print(3)

In [146]:
print_three

In [147]:
print_three()

3

In some cases a dummy input argument is expected where the lambda expression is going to be used.

In [148]:
print_three=lambda a: print(3)

In [149]:
print_three

In this simple example, the expression is independent of the value of the dummy input argument.

In [150]:
print_three('a')

3

In [151]:
print_three(1)

3

## Range and Looping

Another inbuilt class is the range class. The range class has a varying number of input arguments. These are referred to as start, stop and step.

![range](range.png)

When only a 0th positional input argument is input. It is taken to be stop. start is automatically assiged to 0 and steo is automatically assigned to be 1.

In [152]:
r=range(10)

In [153]:
r.start

0

In [154]:
r.stop

10

In [155]:
r.step

1

When a 0th and 1st positional input arguments are input. The 0th positional input argument is taken to be start and the 1st input argument is taken to be stop. step is automatically assigned to 1.

In [156]:
range(1,10)

range(1, 10)

In [157]:
r.start

0

In [158]:
r.stop

10

In [159]:
r.step

1

When a 0th, 1st and 2nd positional input arguments are input. The 0th positional input argument is taken to be start, the 1st input argument is taken to be stop and finally the 2nd positional input argument is taken to be step.

In [160]:
r=range(1,10,2)

In [161]:
r.start

1

In [162]:
r.stop

10

In [163]:
r.step

2

Unfortunately, these names do not work as keyword input arguments which would make the range class more consistent with other python classes and functions and make it more accessible for begineers.

```range(start=0,stop=10,step=1)```

![range2](range2.png)

The range object is commonly used in for loops which are used to repeat a set of commands *for*  a certain number of times. For example if we want to print 'hello' 10 times we can use the following.

In [164]:
for idx in range(10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

The keyword for means we are going to use a for loop.
After the for keyword we need to specify a loop variable (this can be anything as long as it is in accordance with the rules behind variable names). 
The keyword in means we are looking within an object (*in* this case, the range object).
The colon : means we are beginning a code block. Anything belonging to the code block is indented by for spaces. This was seen earlier with the if, elif, else branching and try and except branching.

We can print the loop variable instead of the str 'hello'.

In [165]:
for idx in range(10):
    print(idx)

0
1
2
3
4
5
6
7
8
9

We see here that Python uses zero order indexing. This means we count from 0 (and include the lower bound 0) in steps of 1 until we approach the upper bound 10 (we don't include the upper bound 10). In other words Python indexing includes the lower bound and excludes the upper bound.

In [166]:
for idx in range(1,10):
    print(idx)

1
2
3
4
5
6
7
8
9

In [167]:
for idx in range(1,10,2):
    print(idx)

1
3
5
7
9

If we return to the above:

In [168]:
for idx in range(10):
    print(idx)

0
1
2
3
4
5
6
7
8
9

And want the numeric values displayed in the reverse order, note that we have to start at 9 (inclusive of the lower bound) and stop at -1 (exclusive of the lower bound) using steps of -1.

In [169]:
for idx in range(9,-1,-1):
    print(idx)

9
8
7
6
5
4
3
2
1
0

The above looked looped *in* a range object. A str is an object which can have multiple characters.

In [170]:
for idx in 'hello':
    print(idx)

h
e
l
l
o

Note how idx is now a letter and not a number. We can actually get both an numeric idx and a letter value by using the function enumerate instead.

In [171]:
enumerate('hello')

In [172]:
for idx,value in enumerate('hello'):
    print(idx,value)

0 h
1 e
2 l
3 l
4 o

We could use these in calculations if we wished.

In [173]:
for idx,value in enumerate('hello'):
    print(idx*value)

e
ll
lll
oooo

There is another loop called a while loop which will loop only if a condition is satisfied.

```while condition```

Normally an object related to the condition is changed within the code block so the condition is eventually not met and the loop ends.

In [174]:
counter=0
while counter<5:
    print(counter)
    counter+=1

0
1
2
3
4

We can see that when the counter had  value of 4, the condition was satisfied and the value 4 was printed. After the value 4 was pritned, it got incremented by a value of 1 and then the while loops condition was not satisfied so the while loop broke. Therefore the code in the code block was not carried out for a value of 5. If we print the value of counter outside the loop we see it is 5.

In [175]:
counter

5

Note that it is possible to create a loop that will loop forever, if the condition is never updated within the loop. The following code for example would spam one of the cells in the JupyterLab notebook forever.

```
while True:
    print('spam')
```

## Asserting function input arguments

The assert keyword can be used to check whether or not a condition is True. If it is, the code will proceed and if it is not it will flag up an error. The form to use is.

```assert condition, "optional message"```

Note that assert is not a function and therefore does not use parenthesis.

In [176]:
def fun(value=0):
    assert type(value)==int,'value must be of the datatype int'
    print(value)

the function fun will proceed with value assigned to the default 0 and then set to 1.

In [177]:
fun()

0

In [178]:
fun(1)

1

It will hang when value is assigned to a float 1.1 or a str of 'a'.

```fun(1.1.)```

![AssertionError1](AssertionError1.png)

```fun('a')```

![AssertionError2](AssertionError2.png)

We can combine the assertion statement with a try and except branch with instructions to handle the AssertionError.

In [179]:
def fun(value=0):
    try:
        assert type(value)==int, 'value must be of the datatype int'
        print(value)
    except AssertionError:
        print('invalid datatype for value, value must be an int datatype.')

Now once again when value is assigned to its default value int 0 or the int 1 the code works as expected. When it is assigned to the float 1.1 or the str, the AsertionError is handled and the print statement displays.

In [180]:
fun()

0

In [181]:
fun(1)

1

In [182]:
fun(1.1)

invalid datatype for value, value must be an int datatype.

In [183]:
fun('a')

invalid datatype for value, value must be an int datatype.

The condition can be updated to accept an int or a float.

In [184]:
def fun(value=0):
    try:
        assert (type(value)==int or type(value)==float), 'value must be of the datatype int or float'
        print(value)
    except AssertionError:
        print('invalid datatype for value, value must be an int or float datatype.')

Now once again when value is assigned to its default value int 0 or the int 1 or the float 1.1 the code works as expected. When it is assigned to the str, the AssertionError is handled and the print statement displays.

In [185]:
fun()

0

In [186]:
fun(1)

1

In [187]:
fun(1.1)

1.1

In [188]:
fun('a')

invalid datatype for value, value must be an int or float datatype.

## Custom Classes

We have used an instance of an int class and an instance of a str class and seen that these have a substantially different number of attributes and methods available to them. We can begin to understand this by looking at how a custom class is constructed. 

Python is an object orientated programming language and every class used inherits its properties from the object superclass. This can be seen by using the function issubclass. We can see the keyword input arguments the tab ↹ and shift ⇧.

![issubclass_function](issubclass_function.png)

We see that int, str, floats and bools are all subclasses of the object class.

In [189]:
issubclass(int,object)

True

In [190]:
issubclass(str,object)

True

In [191]:
issubclass(float,object)

True

In [192]:
issubclass(bool,int)

True

We see that str is not a subclass of int as expected as they behave very differently (have vastly different attributes and methods).

In [193]:
issubclass(str,int)

False

Although float and int have similarly defined methods and attributes they are still independent classes.

In [194]:
issubclass(float,int)

False

We seen that the bool class has identical methods and attributes to the int class. This is because it is a subclass of the int superclass.

In [195]:
issubclass(bool,int)

True

### Creating a Class

Constructing a class shares some commonalities with defining a function. We use class (to define a class) instead of def (which we use to define a function). The convention is to use CamelCaseCapitilization opposed to lower_case for a function or variable. Parenthesis is used to enclose the superclass. The custom class being created will inherit properties from the superclass such as attributes and methods. object is the default superclass of everything in the python programming language and if a custom class is created without a class in the 0th position of the parenthesis it will be automatically use object as its superclass. i.e. the two cells below are equivalent.

In [196]:
class ScalarClass(object):
    pass

In [197]:
class ScalarClass():
    pass

The class above does nothing, it can be called in a cell without parenthesis which will return details about the class. This is analogous to calling the class int without parenthesis.

In [198]:
int

int

In [199]:
ScalarClass

__main__.ScalarClass

When we type in int followed by a tab ↹ and shift ⇧ we get details about the input arguments to provide when using the init signature.

![int_init_signature](int_init_signature.png)

When we do the same for our custom class ScalarClass we get no details because we have not inherited and no defined an init signature. There has also been no docstring created.

![ScalarClass_init_signature](ScalarClass_init_signature.png)

### Inheritance

Let's now instead redefine our ScalarClass and use int as the superclass.

In [200]:
class ScalarClass(int):
    pass

Now when we type in ScalarClass followed by a tab ↹ and shift ⇧ we inherit the init signature (and all the methods and attributes) of the int class. The docstring therefore resembles that of the int subclass.

![ScalarClass_int_inheritance_init_signature](ScalarClass_int_inheritance_init_signature.png)

Creating an instance of a class is also known as instantiating a class. Let's instantiate an instance l of the ScalarClass.

In [201]:
l=ScalarClass(5)

Because the init signature is inherited from the str class, we only need to provide the positional input argument self. If we now type in our instance name followed by a dot . and ↹ shows the list of attributes and methods. These are identical to those from the int superclass because we have inherited them from the int superclass.

![ScalarClass_int_inheritance_attributes_methods](ScalarClass_int_inheritance_attributes_methods.png)

Let's now provide our own custom docstring.

In [202]:
class ScalarClass(int):
    '''Inherited from int superclass
    Convert a number or string to an integer, or return 0 if no arguments are given. 
    For floating point numbers this truncates towards 0'''
    pass

Now when we type in ScalarClass followed by a tab ↹ and shift ⇧ we will see our own custom docstring opposed to the one inherited from the int class. In general the custom class will use anything we provide in preference to what it inherits from the superclass.

![ScalarClass_int_inheritance_attributes_methods_customdocstr](ScalarClass_int_inheritance_attributes_methods_customdocstr.png)

### Class functions (methods)

Within the class we can define a custom function. 
This custom function will belong to the class and can be called from any instance of the class i.e. is a method of any instance of the class.

In [203]:
class ScalarClass(int):
    '''Inherited from int superclass
    Convert a number or string to an integer, or return 0 if no arguments are given. 
    For floating point numbers this truncates towards 0'''
    def printhello():
        print('hello')

Since we have updated our class we need to reinstantiate our instance l (otherwise l is an instance of the old custom class).

In [204]:
l=ScalarClass(5)

Now when we type in our instance name followed by a dot . a tab ↹ we get the list of attributes and methods. Note our custom method printhello displays.

![ScalarClass_int_inheritance_custom_method_printhello](ScalarClass_int_inheritance_custom_method_printhello.png)

We can call the custom method from the class itself, we see it works as expected.

In [205]:
ScalarClass.printhello()

hello

However when we attempt to call it as a method we get the following error.

![ScalarClass_int_inheritance_custom_method_printhello_positional_input_arguments_error](ScalarClass_int_inheritance_custom_method_printhello_positional_input_arguments_error.png)

When we type in the method followed by a tab ↹ and shift ⇧ we get details about the input arguments. As we can see there are none because we haven't provided any when we defined the function and there is no docstring.

![ScalarClass_int_inheritance_custom_method_printhello_docstring](ScalarClass_int_inheritance_custom_method_printhello_docstring.png)

The error is this function takes 0 positional input arguments but 1 was given. This means an input argument was provided at position 0 but there was no 0th positional input argument defined in the function. When a method is called from an instance, the instance its *self* is provided automatically as the 0th positional input argument. 

We therefore need to update the function printhello to use self as its 0th positional input argument.

In [206]:
class ScalarClass(int):
    '''Inherited from int superclass
    Convert a number or string to an integer, or return 0 if no arguments are given. 
    For floating point numbers this truncates towards 0.'''
    def printhello(self):
        '''This will print hello.'''
        print('hello')

Since we have updated our class we need to reinstantiate our instance l.

In [207]:
l=ScalarClass(5)

When the function is called from the instance l, the instance l will be supplied as self. So the method now works as intended.

In [208]:
l.printhello()

hello

Note that it will give an error when called directly from the class as no instance is provided.

![ScalarClass_int_inheritance_custom_method_printhello_positional_input_arguments_error2](ScalarClass_int_inheritance_custom_method_printhello_positional_input_arguments_error2.png)

It will work correctly when an instance is provided.

In [209]:
ScalarClass.printhello(l)

hello

### Static Class functions

When we first created the class function printhello it worked without providing an instance. In some rare cases, we may want a static method that can perform this way when called directly from a class or alternatively directly from an instance. To do this we need to use the decorator @staticmethod and we can create a function without any input arguments.

In [210]:
class ScalarClass(int):
    '''Inherited from int superclass
    Convert a number or string to an integer, or return 0 if no arguments are given. 
    For floating point numbers this truncates towards 0.'''
    def printhello(self):
        '''This will print hello.'''
        print('hello')
    @staticmethod
    def statichello():
        '''This is a static method that prints hello.'''
        print('hello')

Since we have updated our class we need to reinstantiate our instance l.

In [211]:
l=ScalarClass(5)

When the function is called from the instance l, because the staticmethod decorator is present, the instance l will not be supplied. This means there is no input argument input and none expected so the static method works as expected.

In [212]:
l.statichello()

hello

The staticmethod can also be called directly from the class without specifying an instance.

In [213]:
ScalarClass.statichello()

hello

### Instance variables (attributes)

Recall that an attribute is an object (or variable) that is referenced with respect to another object.

We can create a method which creates an attribute, that is an object belonging to the instance self.

In [214]:
class ScalarClass(int):
    '''Inherited from int superclass
    Convert a number or string to an integer, or return 0 if no arguments are given. 
    For floating point numbers this truncates towards 0.'''
    def printhello(self):
        '''This will print hello.'''
        print('hello')
    def create_attributes(self):
        self.inverse=1/self

Since we have updated our class we need to reinstantiate our instance l.

In [215]:
l=ScalarClass(5)

When we type in our instance name followed by a dot . a tab ↹ we get the list of attributes and methods. Note our custom method create_attributes displays but no attribute inverse displays as it has not been created yet.

![ScalarClass_int_inheritance_custom_method_createattributes](ScalarClass_int_inheritance_custom_method_createattributes.png)

When we call this, an attribute is created:

In [216]:
l.create_attributes()

When we type in our instance name followed by a dot . a tab ↹ we get the list of attributes and methods. Our custom attribute inverse now displays.

![ScalarClass_int_inheritance_custom_attribute_inverse](ScalarClass_int_inheritance_custom_attribute_inverse.png)

We can call this to get the inverse of l which is 0.2 as expected.

In [217]:
l.inverse

0.2

### Class Variables

It is possible to create a class variable, which is essentially an attribute that will have a constant value for every single instance of a class when the class is instantiated.

In [218]:
class ScalarClass(int):
    '''Inherited from int superclass
    Convert a number or string to an integer, or return 0 if no arguments are given. 
    For floating point numbers this truncates towards 0.'''
    greeting='hello'
    def printhello(self):
        '''This will print hello.'''
        print('hello')
    def create_attributes(self):
        self.inverse=1/self

A class variable can be accessed without use of an instance of a class.

In [219]:
ScalarClass.greeting

'hello'

Since we have updated our class we need to reinstantiate our instance l.

In [220]:
l=ScalarClass(5)

The class variable is now available as an attribute.

In [221]:
l.greeting

'hello'

### Private Variables and Methods

If a method or attribute begins with an underscore it is usually designed for private use and is hidden.

In [222]:
class ScalarClass(int):
    '''Inherited from int superclass
    Convert a number or string to an integer, or return 0 if no arguments are given. 
    For floating point numbers this truncates towards 0.'''
    def _create_attributes(self):
        self._inverse=1/self

Typing in the ScalarClass dot . and tab ↹ does not display the private method \_create\_attributes as it is hidden.

![ScalarClass_hidden_methods](ScalarClass_hidden_methods.png)

The function dir can be used to view all attributes and methods available to the class.

In [223]:
dir(ScalarClass)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 '_create_attributes',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

The list contains a number of **d**ouble **under**score (dunder) methods that begin and end with a double underscore. We will have a look at their meaning in a moment. Under these our custom hidden method \_create\_attributes now displays and then the remaining list of attributes and methods displays.

In many cases we will want a safe way to create an attribute and read an attribute. Instead of creating an attribute directly we may create a hidden attribute alongside an associated get and set method.

In [224]:
class ScalarClass(int):
    '''Inherited from int superclass
    Convert a number or string to an integer, or return 0 if no arguments are given. 
    For floating point numbers this truncates towards 0.'''
    def set_inverse(self):
        '''Sets the inverse attribute of self.'''
        self._inverse=1/self
    def get_inverse(self):
        '''Gets the inverse attribute of self. If the attribute is set.'''
        try:
            return self._inverse
        except AttributeError:
            print('inverse is not yet assigned, use set_inverse first.')

Since we have updated our class we need to reinstantiate our instance l.

In [225]:
l=ScalarClass(5)

When we attempt to use the method get_inverse we are informed that the inverse is not yet assigned and instructed to use set_inverse first.

In [226]:
l.get_inverse()

inverse is not yet assigned, use set_inverse first.

We can use set_inverse which works as intended and assigns the attribute \_inverse.

In [227]:
l.set_inverse()

Now that the \_inverse attribute is assigned the attribute get_inverse will work.

In [228]:
l.get_inverse()

0.2

### Dunder Methods

We have seen that the (+ add) operator acts differently when used with instances of the integer class and instances of the str class, performing addition in one and concatenation in the other.

In [229]:
a=1
b=2

In [230]:
a+b

3

In [231]:
c='hello'
d='world'

In [232]:
c+d

'helloworld'

Behind the scenes the behaviour of the (+ add) operator is defined by the special method \_\_add\_\_. This is also known as a dunder method as the name of each method begins and ends with a **d**ouble **under**score.

As the dunder methods start with an underscore they are hidden from the list of attributes and methods show when one types a class name or object name followed by a dot . and tab ↹. The normal convention is to use the operator associated with the dunder method instead. For example in the case of the dunder method \_\_add\_\_ using + instead.

In order to understand the dunder methods in more detail we can explicitly use the dunder methods to perform the addition and concatenation above.

In [233]:
a.__add__(b)

3

In [234]:
c.__add__(d)

'helloworld'

In the method above a is the object (self) that the method is being called from and b is another instance of the class (other).

The method can also be called directly from the class and both self and other must be specified as the oth and 1st positional input arguments respectively.

In [235]:
int.__add__(a,b)

3

In [236]:
str.__add__(c,d)

'helloworld'

Note the difference in the two behaviours above. When the dunder method is called from the object. The objects name is inferred to be self and as a result we only need to use a single positional input argument within the parenthesis. On the other hand when the dunder method is called from the class we need to specify the instance self and the instance other.

Let's return to our custom class.

In [237]:
class ScalarClass(int):
    '''Inherited from int superclass
    Convert a number or string to an integer, or return 0 if no arguments are given. 
    For floating point numbers this truncates towards 0.'''
    def set_inverse(self):
        '''Sets the inverse attribute of self.'''
        self._inverse=1/self
    def get_inverse(self):
        '''Gets the inverse attribute of self. If the attribute is set.'''
        try:
            return self._inverse
        except AttributeError:
            print('inverse is not yet assigned, use set_inverse first.')

Now let's instantiate two instance l and m.

In [238]:
l=ScalarClass(5)
m=ScalarClass(3)

Because the CustomClass inherits the dunder method \_\_add\_\_ it will add the two numbers together when we use +.

In [239]:
l+m

8

If we instead define the dunder method \_\_add\_\_ it be used instead of the inherited version. We need to use the two positional input arguments the instance self (where the method is being called from) and the instance other (the other instance being added). We can convert both the int instances to str instances. Because both are now of the type str, str concatenation (using the str special method \_\_add\_\_) will occur instead of int addition. The str self and other will therefore be concatenated. We can then convert the str back into an int and then return this concatenated int as the result.

In [240]:
class ScalarClass(int):
    '''Inherited from int superclass
    Convert a number or string to an integer, or return 0 if no arguments are given. 
    For floating point numbers this truncates towards 0.'''
    greeting='hello'
    def set_inverse(self):
        '''Sets the inverse attribute of self.'''
        self._inverse=1/self
    def get_inverse(self):
        '''Gets the inverse attribute of self. If the attribute is set.'''
        try:
            return self._inverse
        except AttributeError:
            print('inverse is not yet assigned, use set_inverse first.')
    def __add__(self,other):
        x=str(self)+str(other)
        x=int(x)
        return(x)

Now let's reinstantiate the two instances l and m.

In [241]:
l=ScalarClass(5)
m=ScalarClass(3)

Now addition gives the int value 53 that is a type int.

In [242]:
l+m

53

In [243]:
type(5+3)

int

Instead of using int as the superclass, let's use object. We will just type in pass giving a child class more or less identical to the object superclass.

In [244]:
class Scalar(object):
    '''Custom Scalar class'''
    pass

If we type in a dot . and a tab ↹ we will see nothing. However when we use the function dir we see all the dunder methods inherited from the object class.

In [245]:
dir(Scalar)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

The main dunder methods of main interest are.

|Dunder Method|Function or Operator|
|---|---|
|\_\_init\_\_|init statement|
|\_\_str\_\_|print|
|\_\_repr\_\_|cell output|
|\_\_len\_\_|len|
|\_\_add\_\_|+|
|\_\_sub\_\_|-|
|\_\_mul\_\_|\*|
|\_\_pow\_\_|\*\*|
|\_\_truediv\_\_|/|
|\_\_matmul\_\_|@|
|\_\_floordiv\_\_|//|
|\_\_mod\_\_|%|
|\_\_eq\_\_|==|
|\_\_ne\_\_|!=|
|\_\_lt\_\_|<|
|\_\_le\_\_|<=|
|\_\_gt\_\_|>|
|\_\_ge\_\_|>=|
|\_\_and\_\_|&|
|\_\_or\_\_|\||
|\_\_xor\_\_|^|
|\_\_lshift\_\_|<<|
|\_\_rshift\_\_|>>|
|\_\_iadd\_\_|+=|
|\_\_isub\_\_|-=|
|\_\_imul\_\_|\*=|
|\_\_ipow\_\_|\*\*=|
|\_\_idiv\_\_|/=|
|\_\_ifloordiv\_\_|//=|
|\_\_imod\_\_|%=|
|\_\_iand\_\_|&=|
|\_\_ior\_\_|\=||
|\_\_ixor\_\_|^=|
|\_\_ilshift\_\_|<<=|
|\_\_irshift\_\_|>>=|

### \_\_init\_\_

The dunder method \_\_init\_\_ is ran when an instance is instantiated. It can be used to create attributes or run methods as the instance is instantiated.

In [246]:
class Scalar(object):
    '''Custom Scalar class'''
    pass

In the example above the dunder method \_\_init\_\_ is inherited from the object class. When we type in the class name followed by a tab ↹ and shift ⇧ we get details about what input arguments to provide in the init signature. The init signature displays no input arguments.

![Scalar_inherited_init_signature](Scalar_inherited_init_signature.png)

When we call the class, the output displays the following in the cell informing us that the Scalar class is in the main workspace.

In [247]:
Scalar()

When we can instantiate the class to the object name l. The object name l will become self as the Scalar class is instantiated.

In [248]:
l=Scalar()

When we try to print the instance. We are informed l is a Scalar object i.e. instance of the Scalar class within the main workspace.

In [249]:
print(l)

<__main__.Scalar object at 0x0000022C25111760>

Displaying the output from within a cell shows the same behaviour shown when no instance name was specified (as expected).

In [250]:
l

Instead of inheriting the \_\_init\_\_ dunder method from the object superclass we can create our own one. We will create an identical one which exhibits identical behaviour to the one inherited by the object superclass. Note we need to provide self as the 0th positional input argument to the dunder method so it can assign any specified object to self as the instance gets instantiated.

In [251]:
class Scalar(object):
    '''Custom Scalar class'''
    def __init__(self):
        pass

We get the same behaviour as above when we call the class and instantiate an object as expected.

In [252]:
Scalar()

In [253]:
l=Scalar()

In [254]:
print(l)

<__main__.Scalar object at 0x0000022C25129FD0>

In this example scalar class we can have the user provide a positional input argument value which is designed to be an int or float and will become the value used for the scalar when the class is instantiated.

Within the \_\_init\_\_ dunder method we can assign the value the user input to a hidden attribute \_value.

In [255]:
class Scalar(object):
    '''Custom Scalar class'''
    def __init__(self,value):
        '''value should be an int or float'''
        self._value=value

When we type in the class followed by a tab ↹ and shift ⇧ we get an updated Init signature instructing us to supply a positional input argument value. self is not asked for and will be infered from the object name if assigned.

![Scalar_init_signature](Scalar_init_signature.png)

When we can instantiate the class to the object name l. The object name l will become self as the Scalar class is instantiated.

In [256]:
l=Scalar(5)

In [257]:
l

In [258]:
print(l)

<__main__.Scalar object at 0x0000022C25124670>

We can update value to be a keyword input argument with a default value of 0.

In [259]:
class Scalar(object):
    '''Custom Scalar class'''
    def __init__(self,value=0):
        '''value should be an int or float'''
        self._value=value

This is reflected when we type in the class name followed by a tab ↹ and shift ⇧.

![Scalar_init_signature2](Scalar_init_signature2.png)

In [260]:
l=Scalar(value=5)
m=Scalar()

Let's also add a method get_value method to the custom class. There is no need to create a corresponding set_value method as it is handled in the \_\_init\_\_ dunder method.

In [261]:
class Scalar(object):
    '''Custom Scalar class'''
    def __init__(self,value=0):
        '''value should be an int or float'''
        self._value=value
    def get_value(self):
        '''returns the value of the scalar'''
        return(self._value)

In [262]:
l=Scalar(value=5)
m=Scalar()

In [263]:
l.get_value()

5

In [264]:
m.get_value()

0

As we can see get the values that were set when the instances were instantiated as expected.

We can update the Scalar class to include the methods set_inverse and get_inverse. If we want to call the set_inverse during instantiation to create an inverse attribute the \_\_init\_\_ dunder method can be used to call it.

In [265]:
class Scalar(object):
    '''Custom Scalar class'''
    def __init__(self,value=0):
        '''value should be an int or float'''
        self._value=value
        self.set_inverse(value)
    def get_value(self):
        '''returns the value of the scalar'''
        return(self._value)
    def set_inverse(self,value):
        '''sets the value of the scalar'''
        self._inverse=1/value
    def get_inverse(self):
        '''returns the value of the inverse of the scalar'''
        return(self._inverse)

The code works as expected when we assign the value to be 5.

In [266]:
l=Scalar(value=5)

In [267]:
l.get_value()

5

In [268]:
l.get_inverse()

0.2

However when we call it with the default value (which is 0) we get a ZeroDivisionError.

```m=Scalar()```

![Scalar_ZeroDivisionError](Scalar_ZeroDivisionError.png)

We also get a TypeError if we use a str opposed to an int or float. Note that the TypeError displays when the set_inverse method during instantiation.

```n=Scalar(value='a')```

![Scalar_TypeError1](Scalar_TypeError1.png)

When using the \_\_init\_\_ dunder method it is quite common to assert the datatype and use try and except branching so a user cannot instantiate the class with the wrong datatype. In this case we want to make a check first that the datatype is correct. If not we want to inform the user that the value must be an int or float. When we do have the correct datatype we also want to try setting the inverse however we want to handle the case where there is a ZeroDivisionError seperately by assigning a str inf. For this reason for have a nested try and except statement.

In [269]:
class Scalar(object):
    '''Custom Scalar class'''
    def __init__(self,value=0):
        '''value should be an int or float'''
        try:
            assert (type(value)==int or type(value)==float), 'value must be an int or float'
            self._value=value
            try:
                self.set_inverse(value)
            except ZeroDivisionError:
                self.set_inverse_inf(value)    
        except AssertionError:
            print('value must be an int or float')
    def get_value(self):
        '''returns the value of the scalar'''
        return(self._value)
    def set_inverse(self,value):
        '''sets the inverse value of the scalar'''
        self._inverse=1/value
    def set_inverse_inf(self,value):
        '''sets the inverse value when the scalar is equal to 0'''
        self._inverse='inf'
    def get_inverse(self):
        '''returns the value of the inverse of the scalar'''
        return(self._inverse)

In [270]:
l=Scalar(value=5)

In [271]:
l.get_value()

5

In [272]:
l.get_inverse()

0.2

In [273]:
m=Scalar()

In [274]:
m.get_value()

0

In [275]:
m.get_inverse()

'inf'

In [276]:
n=Scalar(value='a')

value must be an int or float

### \_\_str\_\_ and \_\_repr\_\_

Let's compare the difference when we print an instance of the integer class and we print an instance of the Scalar class. We get the value 5 in the case of an int and we are informed that l is a Scaler object with no details about the value in the case of our Scaler class.

In [277]:
n=int(5)

In [278]:
print(n)

5

In [279]:
l=Scalar(value=5)

In [280]:
print(l)

<__main__.Scalar object at 0x0000022C2518C3A0>

The \_\_str\_\_ dunder method controls what is output when the print statement is used. It must be a str. For example we can make it the generic str 'hello'.

In [281]:
class Scalar(object):
    '''Custom Scalar class'''
    def __init__(self,value=0):
        '''value should be an int or float'''
        try:
            assert (type(value)==int or type(value)==float), 'value must be an int or float'
            self._value=value
            try:
                self.set_inverse(value)
            except ZeroDivisionError:
                self.set_inverse_inf(value)    
        except AssertionError:
            print('value must be an int or float')
    def get_value(self):
        '''returns the value of the scalar'''
        return(self._value)
    def set_inverse(self,value):
        '''sets the inverse value of the scalar'''
        self._inverse=1/value
    def set_inverse_inf(self,value):
        '''sets the inverse value when the scalar is equal to 0'''
        self._inverse='inf'
    def get_inverse(self):
        '''returns the value of the inverse of the scalar'''
        return(self._inverse)
    def __str__(self):
        return('hello')

In [282]:
l=Scalar(value=5)

In [283]:
print(l)

hello

It is more common however to use a str which mimics the manner we would instantiate a class. We can call our method get_value to return the value and incorporate it within a formatted str.

In [284]:
class Scalar(object):
    '''Custom Scalar class'''
    def __init__(self,value=0):
        '''value should be an int or float'''
        try:
            assert (type(value)==int or type(value)==float), 'value must be an int or float'
            self._value=value
            try:
                self.set_inverse(value)
            except ZeroDivisionError:
                self.set_inverse_inf(value)    
        except AssertionError:
            print('value must be an int or float')
    def get_value(self):
        '''returns the value of the scalar'''
        return(self._value)
    def set_inverse(self,value):
        '''sets the inverse value of the scalar'''
        self._inverse=1/value
    def set_inverse_inf(self,value):
        '''sets the inverse value when the scalar is equal to 0'''
        self._inverse='inf'
    def get_inverse(self):
        '''returns the value of the inverse of the scalar'''
        return(self._inverse)
    def __str__(self):
        string=f'Scalar(value={self.get_value()})'
        return(string)

In [285]:
l=Scalar(value=5)

In [286]:
print(l)

Scalar(value=5)

Notice that this only influences the print statement. If the object name is input directly into a cell or no instance name is defined, we do not get our updated str. There is a seperate \_\_repr\_\_ dunder method which can be sued to represent the way a class displays in a cell.

In [287]:
l

In [288]:
Scalar(value=5)

In [289]:
class Scalar(object):
    '''Custom Scalar class'''
    def __init__(self,value=0):
        '''value should be an int or float'''
        try:
            assert (type(value)==int or type(value)==float), 'value must be an int or float'
            self._value=value
            try:
                self.set_inverse(value)
            except ZeroDivisionError:
                self.set_inverse_inf(value)    
        except AssertionError:
            print('value must be an int or float')
    def get_value(self):
        '''returns the value of the scalar'''
        return(self._value)
    def set_inverse(self,value):
        '''sets the inverse value of the scalar'''
        self._inverse=1/value
    def set_inverse_inf(self,value):
        '''sets the inverse value when the scalar is equal to 0'''
        self._inverse='inf'
    def get_inverse(self):
        '''returns the value of the inverse of the scalar'''
        return(self._inverse)
    def __str__(self):
        string=f'Scalar(value={self.get_value()})'
        return(string)
    def __repr__(self):
        string=f'Scalar(value={self.get_value()})'
        return(string)

Now the format is the same for an instance being printed and its output being shown from a cell.

In [290]:
l=Scalar(value=5)

In [291]:
print(l)

Scalar(value=5)

In [292]:
l

Scalar(value=5)

In [293]:
Scalar(value=5)

Scalar(value=5)

Additional dunder methods can be included allowing numerical operations to take place between instances of the Scalar class. Let's create the dunder methods \_\_add\_\_, \_\_sub\_\_, \_\_mul\_\_ and \_\_truediv\_\_ which will correspond to the operators +, -, * and / respectively. These dunder methods will be based on the duner methods between floats or ints. We can use our method get_value on the other and self instance which return the int attribute \_value. Then we can perform standard numeric operations with hese values and finally return the value as a new instance of the Scalar class.

In [294]:
class Scalar(object):
    '''Custom Scalar class'''
    def __init__(self,value=0):
        '''value should be an int or float'''
        try:
            assert (type(value)==int or type(value)==float), 'value must be an int or float'
            self._value=value
            try:
                self.set_inverse(value)
            except ZeroDivisionError:
                self.set_inverse_inf(value)    
        except AssertionError:
            print('value must be an int or float')
    def get_value(self):
        '''returns the value of the scalar'''
        return(self._value)
    def set_inverse(self,value):
        '''sets the inverse value of the scalar'''
        self._inverse=1/value
    def set_inverse_inf(self,value):
        '''sets the inverse value when the scalar is equal to 0'''
        self._inverse='inf'
    def get_inverse(self):
        '''returns the value of the inverse of the scalar'''
        return(self._inverse)
    def __str__(self):
        string=f'Scalar(value={self.get_value()})'
        return(string)
    def __repr__(self):
        string=f'Scalar(value={self.get_value()})'
        return(string)
    def __add__(self,other):
        add=self.get_value()+other.get_value()
        return(Scalar(value=add))
    def __sub__(self,other):
        sub=self.get_value()-other.get_value()
        return(Scalar(value=sub))
    def __mul__(self,other):
        mul=self.get_value()*other.get_value()
        return(Scalar(value=mul))
    def __truediv__(self,other):
        truediv=self.get_value()/other.get_value()
        return(Scalar(value=truediv))

In [295]:
l=Scalar(value=5)

In [296]:
m=Scalar(value=3)

In [297]:
l+m

Scalar(value=8)

In [298]:
l-m

Scalar(value=2)

In [299]:
l*m

Scalar(value=15)

In [300]:
l/m

Scalar(value=1.6666666666666667)

## A Custom Fraction Class

Let's create a new class from scratch using what we have learned from above. First let's think about the way we would go about constructing a fraction class. A fraction has a numerator and a denominator. These can be initialized as the int n and d when the fraction is created. We will store them to the hidden attributes \_n and \_d respectively.

$\frac{\textrm{self.n}}{\textrm{self.d}}$

In [301]:
class Fraction(object):
    '''Fraction
    n is the numerator and must be an integer
    d is the denominator and must be an integer'''
    def __init__(self,n,d):
        self._n=n
        self._d=d

In [302]:
o=Fraction(1,2)

In [303]:
o._n

1

In [304]:
o._d

2

We will want to ensure that both n and d are integers and also that d is not equal to 0.

In [305]:
class Fraction(object):
    '''Fraction
    n is the numerator and must be an integer
    d is the denominator and must be an integer'''
    def __init__(self,n,d):
        try: 
            assert (type(n)==int and type(d)==int), 'n and d must be of the type int.'
            self._n=n
            try: 
                assert (d!=0)
                self._d=d
            except AssertionError:
                print('d cannot be zero.')
        except AssertionError:
            print('n and d must be of the type int.')

We can see this works as expected.

In [306]:
l=Fraction(1,2)

In [307]:
m=Fraction(1,2.1)

n and d must be of the type int.

In [308]:
n=Fraction(2,0)

d cannot be zero.

If we insert the values of 6 and 4 for the numerator and denominator.

In [309]:
p=Fraction(6,4)

We would like to automatically round it down to 3 and 2 because both the numerator and denominator are perfectly divisable by 2 and give a modulo of 0.

In [310]:
p._n//2

3

In [311]:
p._n%2

0

In [312]:
p._d//2

2

In [313]:
p._d%2

0

To check for this we will need to construct a for loop counting from the value fo the denominator in steps of -1. Note that we are inclusive of the lower bound and exclusive of the top bound. So we will go to 0 and the last value will be 1 (avoiding ZeroDivisionErrors).

In [314]:
for idx in range(p._d,0,-1):
    print(idx)

4
3
2
1

We are only interested in cases where both n and d give a modulo of 0 when divided by the value and we are also only interested in the highest value. So wish to break the loop if such a value is found.

In [315]:
for idx in range(p._d,0,-1):
    if (p._n%idx==0 and p._d%idx==0):
        print(idx)
        print(f'n={p._n//idx}')
        print(f'd={p._d//idx}')
        break

2
n=3
d=2

In [316]:
class Fraction(object):
    '''Fraction
    n is the numerator and must be an integer
    d is the denominator and must be an integer'''
    def __init__(self,n,d):
        try: 
            assert (type(n)==int and type(d)==int), 'n and d must be of the type int.'
            self._n=n
            try: 
                assert (d!=0)
                self._d=d
                self.common_factor()
            except AssertionError:
                print('d cannot be zero.')
        except AssertionError:
            print('n and d must be of the type int.')
    def common_factor(self):
        for idx in range(self._d,0,-1):
            if (self._n%idx==0 and self._d%idx==0):
                self._n=self._n//idx
                self._d=self._d//idx
                break

In [317]:
p=Fraction(6,4)

In [318]:
p._n

3

In [319]:
p._d

2

We may now want to update the dunder methods \_\_str\_\_ and \_\_repr\_\_ to mimic the representation used in the \_\_init\_\_ dunder method.

In [320]:
class Fraction(object):
    '''Fraction
    n is the numerator and must be an integer
    d is the denominator and must be an integer'''
    def __init__(self,n,d):
        try: 
            assert (type(n)==int and type(d)==int), 'n and d must be of the type int.'
            self._n=n
            try: 
                assert (d!=0)
                self._d=d
                self.common_factor()
            except AssertionError:
                print('d cannot be zero.')
        except AssertionError:
            print('n and d must be of the type int.')
    def common_factor(self):
        for idx in range(self._d,0,-1):
            if (self._n%idx==0 and self._d%idx==0):
                self._n=self._n//idx
                self._d=self._d//idx
                break
    def __str__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __repr__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)

We can now easily see that the fraction 6/4 is automatically divided by the lowest common factor to become 3/2.

In [321]:
p=Fraction(6,4)

In [322]:
p

Fraction(3,2)

Let's now consider how we would perform mathmatical opeartions between fractions. In the cae of a fraction, multiplication and division are actually slightly easier than addition and subtraction.

Fraction multiplication:

$\frac{\textrm{self.n}}{\textrm{self.d}}\cdot\frac{\textrm{other.n}}{\textrm{other.d}}=\frac{\textrm{self.n}\cdot\textrm{other.n}}{\textrm{self.d}\cdot\textrm{other.d}}$

Fraction division:

$\frac{\textrm{self.n}}{\textrm{self.d}}\div\frac{\textrm{other.n}}{\textrm{other.d}}=\frac{\textrm{self.n}}{\textrm{self.d}}\cdot\frac{\textrm{other.d}}{\textrm{other.n}}=\frac{\textrm{self.n}\cdot\textrm{other.d}}{\textrm{self.d}\cdot\textrm{other.n}}$

Fraction addition:

$\frac{\textrm{self.n}}{\textrm{self.d}}+\frac{\textrm{other.n}}{\textrm{other.d}}=\frac{\textrm{self.n}}{\textrm{self.d}}\cdot\frac{\textrm{other.d}}{\textrm{other.d}}+\frac{\textrm{other.n}}{\textrm{other.d}}\cdot\frac{\textrm{self.d}}{\textrm{self.d}}=\frac{\textrm{self.n}\cdot\textrm{other.d}+\textrm{other.n}\cdot\textrm{self.d}}{\textrm{self.d}\cdot\textrm{other.d}}$

Fraction subtraction:

$\frac{\textrm{self.n}}{\textrm{self.d}}-\frac{\textrm{other.n}}{\textrm{other.d}}=\frac{\textrm{self.n}}{\textrm{self.d}}\cdot\frac{\textrm{other.d}}{\textrm{other.d}}-\frac{\textrm{other.n}}{\textrm{other.d}}\cdot\frac{\textrm{self.d}}{\textrm{self.d}}=\frac{\textrm{self.n}\cdot\textrm{other.d}-\textrm{other.n}\cdot\textrm{self.d}}{\textrm{self.d}\cdot\textrm{other.d}}$

So we will begin with the \_\_mul\_\_ dunder method.

In [323]:
class Fraction(object):
    '''Fraction
    n is the numerator and must be an integer
    d is the denominator and must be an integer'''
    def __init__(self,n,d):
        try: 
            assert (type(n)==int and type(d)==int), 'n and d must be of the type int.'
            self._n=n
            try: 
                assert (d!=0)
                self._d=d
                self.common_factor()
            except AssertionError:
                print('d cannot be zero.')
        except AssertionError:
            print('n and d must be of the type int.')
    def common_factor(self):
        for idx in range(self._d,0,-1):
            if (self._n%idx==0 and self._d%idx==0):
                self._n=self._n//idx
                self._d=self._d//idx
                break
    def __str__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __repr__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __mul__(self,other):
        n=self._n*other._n
        d=self._d*other._d
        return(Fraction(n,d))

Now we see the (* mul) operator as expected.

In [324]:
Fraction(3,2)*Fraction(4,3)

Fraction(2,1)

Note that the \_\_init\_\_ dunder method was called from the \_\_mul\_\_ dunder method creating a new instance. Recall that it calls the common_factor method and divides by the numerator and denominator by the highest common factor.

Next let's have a look at the \_\_truediv\_\_ dunder method.

In [325]:
class Fraction(object):
    '''Fraction
    n is the numerator and must be an integer
    d is the denominator and must be an integer'''
    def __init__(self,n,d):
        try: 
            assert (type(n)==int and type(d)==int), 'n and d must be of the type int.'
            self._n=n
            try: 
                assert (d!=0)
                self._d=d
                self.common_factor()
            except AssertionError:
                print('d cannot be zero.')
        except AssertionError:
            print('n and d must be of the type int.')
    def common_factor(self):
        for idx in range(self._d,0,-1):
            if (self._n%idx==0 and self._d%idx==0):
                self._n=self._n//idx
                self._d=self._d//idx
                break
    def __str__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __repr__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __mul__(self,other):
        n=self._n*other._n
        d=self._d*other._d
        return(Fraction(n,d))
    def __truediv__(self,other):
        n=self._n*other._d
        d=self._d*other._n
        return(Fraction(n,d))

Now we see the (/ truediv) operator as expected.

In [326]:
Fraction(3,2)/Fraction(3,4)

Fraction(2,1)

Next let's have a look at the \_\_add\_\_ dunder method.

In [327]:
class Fraction(object):
    '''Fraction
    n is the numerator and must be an integer
    d is the denominator and must be an integer'''
    def __init__(self,n,d):
        try: 
            assert (type(n)==int and type(d)==int), 'n and d must be of the type int.'
            self._n=n
            try: 
                assert (d!=0)
                self._d=d
                self.common_factor()
            except AssertionError:
                print('d cannot be zero.')
        except AssertionError:
            print('n and d must be of the type int.')
    def common_factor(self):
        for idx in range(self._d,0,-1):
            if (self._n%idx==0 and self._d%idx==0):
                self._n=self._n//idx
                self._d=self._d//idx
                break
    def __str__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __repr__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __mul__(self,other):
        n=self._n*other._n
        d=self._d*other._d
        return(Fraction(n,d))
    def __truediv__(self,other):
        n=self._n*other._d
        d=self._d*other._n
        return(Fraction(n,d))
    def __add__(self,other):
        n=self._n*other._d+other._n*self._d
        d=self._d*other._d
        return(Fraction(n,d))

Now we see the (+ add) operator as expected.

In [328]:
Fraction(2,4)+Fraction(1,4)

Fraction(3,4)

Next let's have a look at the \_\_sub\_\_ dunder method.

In [329]:
class Fraction(object):
    '''Fraction
    n is the numerator and must be an integer
    d is the denominator and must be an integer'''
    def __init__(self,n,d):
        try: 
            assert (type(n)==int and type(d)==int), 'n and d must be of the type int.'
            self._n=n
            try: 
                assert (d!=0)
                self._d=d
                self.common_factor()
            except AssertionError:
                print('d cannot be zero.')
        except AssertionError:
            print('n and d must be of the type int.')
    def common_factor(self):
        for idx in range(self._d,0,-1):
            if (self._n%idx==0 and self._d%idx==0):
                self._n=self._n//idx
                self._d=self._d//idx
                break
    def __str__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __repr__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __mul__(self,other):
        n=self._n*other._n
        d=self._d*other._d
        return(Fraction(n,d))
    def __truediv__(self,other):
        n=self._n*other._d
        d=self._d*other._n
        return(Fraction(n,d))
    def __add__(self,other):
        n=self._n*other._d+other._n*self._d
        d=self._d*other._d
        return(Fraction(n,d))
    def __sub__(self,other):
        n=self._n*other._d-other._n*self._d
        d=self._d*other._d
        return(Fraction(n,d))

Now we see the (- sub) operator as expected.

In [330]:
Fraction(2,4)-Fraction(1,4)

Fraction(1,4)

We can create an optional method to_float whhich will convert the instance of the Fraction class to a float. We can also create the methods get_n and get_d to get the numerator and denominator as an int respectively.

In [331]:
class Fraction(object):
    '''Fraction
    n is the numerator and must be an integer
    d is the denominator and must be an integer'''
    def __init__(self,n,d):
        try: 
            assert (type(n)==int and type(d)==int), 'n and d must be of the type int.'
            self._n=n
            try: 
                assert (d!=0)
                self._d=d
                self.common_factor()
            except AssertionError:
                print('d cannot be zero.')
        except AssertionError:
            print('n and d must be of the type int.')
    def common_factor(self):
        for idx in range(self._d,0,-1):
            if (self._n%idx==0 and self._d%idx==0):
                self._n=self._n//idx
                self._d=self._d//idx
                break
    def __str__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __repr__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __mul__(self,other):
        n=self._n*other._n
        d=self._d*other._d
        return(Fraction(n,d))
    def __truediv__(self,other):
        n=self._n*other._d
        d=self._d*other._n
        return(Fraction(n,d))
    def __add__(self,other):
        n=self._n*other._d+other._n*self._d
        d=self._d*other._d
        return(Fraction(n,d))
    def __sub__(self,other):
        n=self._n*other._d-other._n*self._d
        d=self._d*other._d
        return(Fraction(n,d))
    def to_float(self):
        value=float(self._n/self._d)
        return(value)
    def get_n(self):
        return(self._n)
    def get_d(self):
        return(self._d)

When we type in the instance name followed by a dot . and tab ↹ we see a list of methods available.

![Fraction_methods](Fraction_methods.png)

The method common_factor is only used within the dunder method \_\_init\_\_ and not intended to be called by the end user so we can update it to be a private method by beginning with an underscore.

In [332]:
class Fraction(object):
    '''Fraction
    n is the numerator and must be an integer
    d is the denominator and must be an integer'''
    def __init__(self,n,d):
        try: 
            assert (type(n)==int and type(d)==int), 'n and d must be of the type int.'
            self._n=n
            try: 
                assert (d!=0)
                self._d=d
                self._common_factor()
            except AssertionError:
                print('d cannot be zero.')
        except AssertionError:
            print('n and d must be of the type int.')
    def _common_factor(self):
        for idx in range(self._d,0,-1):
            if (self._n%idx==0 and self._d%idx==0):
                self._n=self._n//idx
                self._d=self._d//idx
                break
    def __str__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __repr__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __mul__(self,other):
        n=self._n*other._n
        d=self._d*other._d
        return(Fraction(n,d))
    def __truediv__(self,other):
        n=self._n*other._d
        d=self._d*other._n
        return(Fraction(n,d))
    def __add__(self,other):
        n=self._n*other._d+other._n*self._d
        d=self._d*other._d
        return(Fraction(n,d))
    def __sub__(self,other):
        n=self._n*other._d-other._n*self._d
        d=self._d*other._d
        return(Fraction(n,d))
    def to_float(self):
        value=float(self._n/self._d)
        return(value)
    def get_n(self):
        return(self._n)
    def get_d(self):
        return(self._d)

In [333]:
p=Fraction(1,4)

![Fraction_methods2](Fraction_methods2.png)

In [334]:
p.to_float()

0.25

In [335]:
p.get_n()

1

In [336]:
p.get_d()

4

We could also create methods set_n and set_d to set the numerator and denmonator respectively.

In [337]:
class Fraction(object):
    '''Fraction
    n is the numerator and must be an integer
    d is the denominator and must be an integer'''
    def __init__(self,n,d):
        try: 
            assert (type(n)==int and type(d)==int), 'n and d must be of the type int.'
            self._n=n
            try: 
                assert (d!=0)
                self._d=d
                self._common_factor()
            except AssertionError:
                print('d cannot be zero.')
        except AssertionError:
            print('n and d must be of the type int.')
    def _common_factor(self):
        for idx in range(self._d,0,-1):
            if (self._n%idx==0 and self._d%idx==0):
                self._n=self._n//idx
                self._d=self._d//idx
                break
    def __str__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __repr__(self):
        string=f'Fraction({self._n},{self._d})'
        return(string)
    def __mul__(self,other):
        n=self._n*other._n
        d=self._d*other._d
        return(Fraction(n,d))
    def __truediv__(self,other):
        n=self._n*other._d
        d=self._d*other._n
        return(Fraction(n,d))
    def __add__(self,other):
        n=self._n*other._d+other._n*self._d
        d=self._d*other._d
        return(Fraction(n,d))
    def __sub__(self,other):
        n=self._n*other._d-other._n*self._d
        d=self._d*other._d
        return(Fraction(n,d))
    def to_float(self):
        value=float(self._n/self._d)
        return(value)
    def get_n(self):
        return(self._n)
    def get_d(self):
        return(self._d)
    def set_n(self,n):
        '''Sets a new numerator n. n must be an int.'''
        try:
            assert type(n)==int, 'n must be of the type int.'
            self._n=n
            self._common_factor()
        except AssertionError:
            print('n must be of the type int.')
    def set_d(self,d):
        '''Sets a new enominator d. d must be an int.'''
        try:
            assert type(d)==int, 'd must be of the type int.'
            try:
                assert d!=0, 'd cannot be 0.'
                self._d=d
                self._common_factor()
            except AssertionError:
                print('d must not be 0')
        except AssertionError:
            print('d must be of the type int.')

In [338]:
p=Fraction(1,4)

When we type in the instance name followed by a dot . and tab ↹ we see a list including the updated methods.

![Fraction_methods3](Fraction_methods3.png)

When we type in the method followed by a tab ↹ and shift ⇧ we get our docstring and information about the positional input argument n.

![Fraction_method_set_n](Fraction_method_set_n.png)

In [339]:
p.set_n(10)

In [340]:
p

Fraction(5,2)

## Collections

So far we have only looked at scalar data types that is a dataset that consists of only a single value. Quite often we will want to group together a collection of single values. Before looking at how we do this in Python. Let's look at a spreadsheet in Microsoft Excel. When the data is in Excel we see that each data value is enclosed in a grid.

![excel_row](excel_row.png)

The data can be saved as a CSV format.

![excel_row_save](excel_row_save.png)

Now it can be viewed in Notepad++.

![excel_row_notepadplusplus](excel_row_notepadplusplus.png)

Notice that instead of a grid we see a comma seperating out each value (hence the name csv comma seperated value file). 
The comma is the delimiter and is used to seperate out each value.

The values in the spreadsheet do not need to be numeric, they can also be text.

![excel_row2](excel_row2.png)

![excel_row2_notepadplusplus](excel_row2_notepadplusplus.png)

We can create a collection of values in Python using similar notation with the comma as a delimiter. In Python however we need to enclose the collection in brackets. The type of brackets used creates a slightly different collection. The \[ \] create a list, the ( ) create a tuple and the { } create a set or dictionary.

### The List Collection (list)

The most commonly used collection is called a list. This relates to a list used in every day life. For example the shopping list.

* apples
* bananas
* grapes
* oranges
* pears

An empty list can be instantiated by using square brackets.

In [341]:
shop=[]

In [342]:
shop

[]

Alternatively we can instantiate a list using the list class directly. If we type in list followed by a tab ↹ and shift ⇧ we get the list init statement docstring which outlines details about the positional input argument which we see are iterable.

![list_init_signature](list_init_signature.png)

We can keep it empty to make an empty list:

In [343]:
shop=list()

In [344]:
shop

[]

When we type in the list name followed by a dot . and a tab ↹ we see a number of list methods and attributes.

![list_methods_attributes](list_methods_attributes.png)

Let's attempt to add one str item to our list. The str needs to be enclosed in quotations to inicate that it is a str and not an object name.

In [345]:
shop=['apples']

In [346]:
shop

['apples']

Note to get a single element when we are explicitly instantiating the list class we need to include a comma , delimiter.

In [347]:
shop=list(('apples',))

In [348]:
shop

['apples']

Otherwise the () are taken to mean parenthesis and we will make a list of each letter in the string.

In [349]:
shop=list(('apples'))

In [350]:
shop

['a', 'p', 'p', 'l', 'e', 's']

Now to add another item we need to use a comma as a delimiter.

In [351]:
shop=['apples','bananas']

In [352]:
shop

['apples', 'bananas']

In [353]:
shop=list(('apples','bananas'))

Alternatively we can explicity instantiate the class list.

In [354]:
shop

['apples', 'bananas']

Continuing on with the complete list.

In [355]:
shop=['apples','bananas','grapes','oranges','pears']

In [356]:
shop

['apples', 'bananas', 'grapes', 'oranges', 'pears']

It is also possible to write the above splitting the list over multiple lines by pressing enter ↵ after the comma , delimiter. Note the spacing will be automatically applied to display the list as a column.

In [357]:
shop=['apples',
      'bananas',
      'grapes',
      'oranges',
      'pears']

In [358]:
shop

['apples', 'bananas', 'grapes', 'oranges', 'pears']

As we can see from the output above there is no difference between the list when input as a row or input as a column. In fact the list is neither a row nor a column. It is an object with only a single dimension.

### Indexing a str or list

In many cases collections such as lists behave in a simlar manner to strings. The + operator performs concatenation.

In [359]:
'hello'+'world'

'helloworld'

In [360]:
['h','e','l','l','o']+['w','o','r','l','d']

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

And multiplication by a scalar n replicates the list n times.

In [361]:
'hello'*3

'hellohellohello'

In [362]:
['h','e','l','l','o']*3

['h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

The function len can also be used to determine the number fo elements in a str or list.

In [363]:
len('hello')

5

In [364]:
len(['h','e','l','l','o'])

5

Recall that we could use a for loop to select an index in a str.

In [365]:
for let in 'hello':
    print(let)

h
e
l
l
o

Or that we could enumerate a string to get both the index and letter.

In [366]:
for idx,let in enumerate('hello'):
    print(idx,let)

0 h
1 e
2 l
3 l
4 o

We can do the same for an item in a list.

In [367]:
for item in shop:
    print(item)

apples
bananas
grapes
oranges
pears

In [368]:
for idx,item in enumerate(shop):
    print(idx,item)

0 apples
1 bananas
2 grapes
3 oranges
4 pears

In Python indexes uses zero-order meaning we are inclusive of the lower bound 0 and exclusivie fo the upper bound 5. A list with a length of 5 has an index 0,1,2,3 and 4 as shown in the output of the enumeration of the list above using a for loop.

An individual item from the list can be selected from the numeric index by typing in the list name followed by square brackets containing the index.

In [369]:
shop[0]

'apples'

This approach also works to get a letter from a str.

In [370]:
'hello'[0]

'h'

We can index into the list to get item 0 which is the str 'apples'.

In [371]:
shop[0]

'apples'

And then we can index into this str output to get the index 3 which is the letter 'l'.

In [372]:
shop[0][3]

'l'

The above line is equivalent to the following.

In [373]:
item=shop[0]
let=item[3]
let

'l'

Multiple indexes can be selected by use of a colon. The value before the colon is the start value and the value after the colon is the stop value.

```'str'[start:stop]```

For example this can be thought of as the selection of index 2 to 4.

In [374]:
'hello'[2:4]

'll'

Recall that we are inclusive of the lower bound 2 and exclusive of the upper bound 4. Therefore we get the output from indexes 2 and 3.

If a lower bound start is not specified then it is assumed to be 0.

```'str'[start:stop]```

```'str'[0:stop]```

```'str'[:stop]```

Going from index 0 to index 3 will give indexes 0, 1 and 2 for example.

In [375]:
'hello'[:3]

'hel'

Likewise if an upper bound start is not specified then it is assumed to be the length of the str or list or other collection.

```'str'[start:stop]```

```'str'[start:len(str)]```

```'str'[start:]```

Going from index 3 to the len of the str will give indexes 3 and 4 for example.

In [376]:
'hello'[3:]

'lo'

If no start bound or stop bound are selected, all indexes will be selected and we will just get a copy of the str, list or other collection.

In [377]:
'hello'[:]

'hello'

The number before 0 is -1 and this in Python corresponds to the last index. The negative index can be calculated by taking the positive index and substracting the len of the str or list.

In [378]:
for idx,let in enumerate('hello'):
    print(idx,idx-len('hello'),let)

0 -5 h
1 -4 e
2 -3 l
3 -2 l
4 -1 o

In [379]:
'hello'[3]

'l'

In [380]:
'hello'[-2]

'l'

We have seen that we can index with a colon using the form.

```'string'[start:stop]```

An additional colon can be placed to indicate a step.

```'string'[start:stop:step]```

If we create the following string containing each letter of the word hello in upper and then lower case.

In [381]:
string='HhEeLlLlOo'

We can select every capital letter by usign a step size of 2.

In [382]:
string[0:len(string):2]

'HELLO'

Because we are using a start value of 0 and a stop value that is the length of the string, we can omitt these.

In [383]:
string[::2]

'HELLO'

If we instead wanted the lower case we would instead start at 1.

In [384]:
string[1:len(string):2]

'hello'

Since the stop value is the length of the string we could also use.

In [385]:
string[1::2]

'hello'

We can also use negative indexes. If we want the string in reverse, we could take every negative second value.

In [386]:
string[-1:-len(string)-1:-2]

'olleh'

When a negative step is selected the start value takes a default of -1 if not specified and the stop value takes a default of -len(string)-1 if not specified. Recall once again the the start bound is inclusive and the upper bound is exclusive.

In [387]:
string[::-2]

'olleh'

In [388]:
string[-2:-len(string)-1:-2]

'OLLEH'

### The Dictionary Collection (dict)

Another collection is the dictionary collection. A dictionary has the form of a regular dictionary where there is a key (keyword) and value (definition). For example the dictionary below.

|key|value|
|---|---|
|python|a programming language|
|numpy|the numeric python library|
|pandas|the python and data analysis library|
|matplotlib|the python plotting library|

A dictionary is quite commonly used in a programming language when it comes to assigning settings. Each setting has one name and multiple possible values. A user configuration will have one value set for each setting.

![windows10settings](windows10settings.png)

In Windows 10 the registry for example can just be thought of as a large dictionary.

![Windows10settings2](Windows10settings2.png)

The setting highlighted above for example uses the registry value AppsUseLightTheme (which can be thought of as the key) and the data for it is 1 (this is the value and in this case is a Boolean which can be True or False).

Dictionaries are commonly used when it comes to using functions which rename multiple items. In such cases the keys are normally the old names and the values are normally the new names.

A dictionary uses curly brackets opposed to square brackets. We can create an empty dictionary using.

In [389]:
pythonterms={}

In [390]:
pythonterms

{}

Alternatively we can instantiate a dictionary using the dict class directly. If we type in dict followed by a tab ↹ and shift ⇧ we get the docstring for the init signature which gives details about the positional input argument and mentions key-value pairs.

![dict_init_signature](dict_init_signature.png)

In [391]:
pythonterms=dict()

In [392]:
pythonterms

{}

When we type in the dict name followed by a dot . and a tab ↹ we see a number of list methods and attributes.

![dict_methods_attributes](dict_methods_attributes.png)

We see that there are the methods keys and values outlining the data structure of the dictionary.

Items have to be added in key value pairs. The colon is used to seperate the key from its corresponding value. Each key is unique but two keys can have the same value. In this case both the key and the value are of he type str.

In [393]:
pythonterms={'python':'a programming language'}

In [394]:
pythonterms

{'python': 'a programming language'}

A dictionary can be indexed int using squarebrackets. It does not have a numeric index and the key is used to index.

In [395]:
pythonterms['python']

'a programming language'

When explictly instantating using the dict class, the key is input as a keyword input argument. Because it is input as a keyword input argument it is not enclosed in quotations. Quotations are automatically added to the key if it is text.

In [396]:
pythonterms=dict(python='a programming language')

In [397]:
pythonterms

{'python': 'a programming language'}

A new key:value pair can be added by indexing into the dictonary with a new key and assigning it to the value.

In [398]:
pythonterms['numpy']='the numeric python library'

In [399]:
pythonterms

{'python': 'a programming language', 'numpy': 'the numeric python library'}

When the dictionary is created with the braces it can be done on one line or similar to a list, it can be split over multiple lines by pressing enter ↵ after the comma , delimiter.

In [400]:
pythonterms={'python':'a programming language','numpy':'the numeric python library','pandas':'the python and data analysis library','matplotlib':'the python plotting library'}

In [401]:
pythonterms

{'python': 'a programming language',
 'numpy': 'the numeric python library',
 'pandas': 'the python and data analysis library',
 'matplotlib': 'the python plotting library'}

In [402]:
pythonterms={'python':'a programming language',
             'numpy':'the numeric python library',
             'pandas':'the python and data analysis library',
             'matplotlib':'the python plotting library'}

In [403]:
pythonterms

{'python': 'a programming language',
 'numpy': 'the numeric python library',
 'pandas': 'the python and data analysis library',
 'matplotlib': 'the python plotting library'}

In [404]:
pythonterms=dict(python='a programming language',numpy='the numeric python library',pandas='the python and data analysis library',matplotlib='the python plotting library')

In [405]:
pythonterms

{'python': 'a programming language',
 'numpy': 'the numeric python library',
 'pandas': 'the python and data analysis library',
 'matplotlib': 'the python plotting library'}

Now that the dictionary is populated we can look at the methods keys and values.

In [406]:
pythonterms.keys()

dict_keys(['python', 'numpy', 'pandas', 'matplotlib'])

In [407]:
pythonterms.values()

dict_values(['a programming language', 'the numeric python library', 'the python and data analysis library', 'the python plotting library'])

We see that both of these are list like.

A dictionary can be constructe by zipping two lists together.

In [408]:
key_colors=['r','g','b']
key_values=['red','green','blue']

In [409]:
cmap=dict(zip(key_colors,key_values))

In [410]:
cmap

{'r': 'red', 'g': 'green', 'b': 'blue'}

### Mutability

Let's create the following list.

In [411]:
shop=['apples',
      'bananas',
      'grapes',
      'oranges',
      'pears']

In [412]:
shop

['apples', 'bananas', 'grapes', 'oranges', 'pears']

Now let us attempt to create a copy.

In [413]:
shop2=shop

In [414]:
shop2

['apples', 'bananas', 'grapes', 'oranges', 'pears']

Now let us modify the list shop2 for example by appending an item.

In [415]:
shop2.append('kiwi')

In [416]:
shop2

['apples', 'bananas', 'grapes', 'oranges', 'pears', 'kiwi']

If we check the value of shop we see that it has also been updated.

In [417]:
shop

['apples', 'bananas', 'grapes', 'oranges', 'pears', 'kiwi']

This is because the line shop2=shop does not create a copy but instead creats an alias. i.e. shop2 and shop are both object names for the same list.

In [418]:
shop=['apples',
      'bananas',
      'grapes',
      'oranges',
      'pears']

Instead we should use the method copy or alternatively index using square brakcets and a colon.

In [419]:
shop2=shop.copy()

In [420]:
shop3=shop2[:]

In [421]:
shop2.append('kiwi')

Now we see that both shop1 and shop3 are not updated when shop2 is updated.

In [422]:
shop

['apples', 'bananas', 'grapes', 'oranges', 'pears']

In [423]:
shop2

['apples', 'bananas', 'grapes', 'oranges', 'pears', 'kiwi']

In [424]:
shop3

['apples', 'bananas', 'grapes', 'oranges', 'pears']

Mutability allows great flexibility when it comes to working with lists however at the same time we also need to be careful that we don't mutate a list by mistake.

### The Tuple Collection (tuple)

A tuple is essentially a list that is immutable. There are two main advantages in using a tuple over a list. First a tuple is far less likely to be altered by accident and secondly it is faster to access because it is immutable.

It has the same form as a list but uses brackets ( ) opposed to square brackets \[ \]. Let's create an empty tuple.

In [425]:
shop_t=()

Note to get a single element we need to include a comma , delimiter so the ( ) isn't taken as parenthesis.

In [426]:
shop_t=('apples',)

In [427]:
shop_t

('apples',)

In [428]:
shop_t=('apples')

In [429]:
shop_t

'apples'

In [430]:
shop_t=('apples', 'bananas', 'grapes', 'oranges', 'pears')

Alternatively we can instantiate a tuple using the tuple class directly. If we type in tuple followed by a tab ↹ and shift ⇧ we get the list init statement docstring which outlines details about the positional input argument which we see are iterable. We see the form is more or less identical to that of a list.

![tuple_init_signature](tuple_init_signature.png)

In [431]:
shop_t=tuple(('apples', 'bananas', 'grapes', 'oranges', 'pears'))

In [432]:
shop_t

('apples', 'bananas', 'grapes', 'oranges', 'pears')

The list and tuple classes may be used to quickly convert a list to a tuple and vice versa.

In [433]:
shop_l=list(shop_t)

In [434]:
shop_l

['apples', 'bananas', 'grapes', 'oranges', 'pears']

Because a tuple is immutable, there are only a limited number of methods ailable which can be accessed by typing in the tuples name followed by a dot . and a tab ↹.

![tuple_methods_attributes](tuple_methods_attributes.png)

We see that the list in comparson has many more methods availale.

![list2_methods_attributes](list2_methods_attributes.png)

The tuple and list method count has a single positional input argument value. This will return the number of indexes which share the value.

![tuple_method_count](tuple_method_count.png)

For example we check the number fo times 'apples' occur in each collection which is just 1.

In [435]:
shop_t.count('apples')

1

In [436]:
shop_l.count('apples')

1

If we have type in the method function followed by a tab ↹ and shift ⇧ we'll get details about the positional input arguments. The 0th positional input argument is the value to find. The 1st and 2nd positional input argument start and stop are optional and specify an index range which we can search over. These are documented to look like keyword input arguemnts but unfortunately do not work in this manner.

![tuple_method_index](tuple_method_index.png)

In [437]:
shop_t.index('apples')

0

In [438]:
shop_l.index('apples')

0

Let's concatenate another list to shop_1 and reassign the output to shop_l.

In [439]:
shop_l=shop_l+['apples','oranges']

In [440]:
shop_l

['apples', 'bananas', 'grapes', 'oranges', 'pears', 'apples', 'oranges']

Now if we count the number of occurances of 'apples' we get a value of 2.

In [441]:
shop_l.count('apples')

2

The method index only returns the initial index of the value found i.e. index 0.

In [442]:
shop_l.index('apples')

0

start and stop unfortunately do not work as keyword input arguments.

```idx1=shop_1.index('apples',start=1)```

![tuple_method_index_TypeError](tuple_method_index_TypeError.png)

The initial index within the range 1 upwards is found, in this case 5.

In [443]:
shop_l.index('apples',1)

5

If the value is not found in the range selected a ValueError will display.

```shop_1.index('apples',6)```

![tuple_method_index_ValueError](tuple_method_index_ValueError.png)

To prevent this ValueError from halting the Kernel a try and except branch can be used. To get all the indexes that have the value 'Apples' a while loop can be used.

In [444]:
i=0
idx=[]
while i<len(shop_l):
    try:
        idx=idx+[shop_l.index('apples',i)]
        i=shop_l.index('apples',i)+1
    except ValueError:
        break
idx

[0, 5]

### Tuple Unpacking

We looked previously at defining and using custom functions. We seen that we can have multiple input arguments but only a single return statement. It is possible to use the return statement to return a collection of values such as a tuple. For example we can create this basic function plusminus which returns a lower and upper bound.

In [445]:
def plusminus(value=0,error=1):
    lower=value-error
    upper=value+error
    return((lower,upper))

When we use it we get a tuple.

In [446]:
plusminus(value=10,error=2)

(8, 12)

Alternatively we can assign the output to an object name.

In [447]:
pm=plusminus(value=10,error=2)

The object is a tuple.

In [448]:
pm

(8, 12)

In [449]:
type(pm)

tuple

Since we know the tuple has an index of 0 and an index of 1 we can assign the output of the function to two output arguments.

In [450]:
(m,p)=plusminus(value=10,error=2)

In [451]:
m

8

In [452]:
type(m)

int

In [453]:
p

12

In [454]:
type(p)

int

The code above can be simplified by removing parenthesis.

In [455]:
def plusminus(value=0,error=1):
    lower=value-error
    upper=value+error
    return(lower,upper)

In [456]:
m,p=plusminus(value=10,error=2)

In [457]:
m

8

In [458]:
p

12

We can of course alter the code above to assert that the keyword input arguments are int or float.

In [459]:
def plusminus(value=0,error=1):
    '''Will calculate a lower and upper bound for value±error'''
    try:
        assert ((type(value)==int or type(value)==float) and (type(error)==int or type(error)==float)), 'value and error must be numeric'
        lower=value-error
        upper=value+error
        return(lower,upper)
    except AssertionError:
        print('value and error must be numeric (type int or str)')

In [460]:
plusminus(value='a',error=1)

value and error must be numeric (type int or str)

In [461]:
plusminus(value=10,error=2)

(8, 12)

### Nested Collections

So far we have looked at collections where all the items are of the same datatype. Collections such as lists and tuples are much more flexible and each item in a collection can be a different data type. For example.

In [462]:
mixed=['a',1,1.5,True,complex(real=4,imag=-2)]

In [463]:
for idx,item in enumerate(mixed):
    print(idx,item,type(item))

0 a <class 'str'>
1 1 <class 'int'>
2 1.5 <class 'float'>
3 True <class 'bool'>
4 (4-2j) <class 'complex'>

It is also possible to nest another collection in a collection. For example a tuple and a list can each be elements within a list.

In [464]:
mixed2=['b',2,2/5,True,complex(real=4,imag=-2),(2,-2),['apples',4,'oranges']]

In [465]:
for idx,item in enumerate(mixed2):
    print(idx,item,type(item))

0 b <class 'str'>
1 2 <class 'int'>
2 0.4 <class 'float'>
3 True <class 'bool'>
4 (4-2j) <class 'complex'>
5 (2, -2) <class 'tuple'>
6 ['apples', 4, 'oranges'] <class 'list'>

We can index into the list using square brackets and index 5 to get the tuple and then we can use an additional square brackets to select index 1 to get the 1st element in the tuple -2.

In [466]:
mixed2[5][1]

-2

Let's create two lists.

In [467]:
l1=[0,1,2,3,4]
l2=[5,6]

Now let's look at the methods append and extend. If we type in both method names followed by a tab ↹ and shift ⇧ we get details about the input arguments. At first glance the two methods may appear to do the same thing.

![list_method_append](list_method_append.png)

![list_method_extend](list_method_extend.png)

However when we use append we see that the entire l2 is appended at the end of l1 as a nested list.

In [468]:
l1.append(l2)

Note the method append shows no output and mutates the original list l1.

In [469]:
l1

[0, 1, 2, 3, 4, [5, 6]]

Reassigning l1 and l2.

In [470]:
l1=[0,1,2,3,4]
l2=[5,6]

And now using the list method extend instead, extends l1 using all the elements in l2.

In [471]:
l1.extend(l2)

In [472]:
l1

[0, 1, 2, 3, 4, 5, 6]

In [473]:
l1=[0,1,2,3,4]
l2=[5,6]

The list method insert works in a similar manner to append. If we type in the method followed by a tab ↹ and shift ⇧ we see there are two positional input arguments. An index has to be selected to place the inserted list. All existing values at this index or later are shifted one along.

![list_method_insert](list_method_insert.png)

In [474]:
l1.insert(2,l2)

This method also mutates the list l1 and there is no output.

In [475]:
l1

[0, 1, [5, 6], 2, 3, 4]

The list method remove will remove the first occurance of a value using the value as an input argument. If we type in the method followed by a tab ↹ and shift ⇧ we see there is a single positional input argument value.

![list_method_remove](list_method_remove.png)

In [476]:
l1.remove(1)

This method also mutates the list l1 and there is no output.

In [477]:
l1

[0, [5, 6], 2, 3, 4]

The list method pop removes a value using the index as a keyword input argument. If we type in the method followed by a tab ↹ and shift ⇧ we see there is a positional input argument index and it is set to -1 which is the last index.

![list_method_pop](list_method_pop.png)

In [478]:
l1.pop(1)

[5, 6]

This method returns the index selected in this case the nested list \[5,6\] which was at index 1. This method mutates the list l1 removing the popped value from it.

In [479]:
l1

[0, 2, 3, 4]

If the index is not specified, the last value will be popped.

In [480]:
l1.pop()

4

In [481]:
l1

[0, 2, 3]

index unfortunately does not work as a keyword input argument.

```l1.pop(index=1)```

![list_method_pop_TypeError](list_method_pop_TypeError.png)

The list method clear removes all values in a list returning an empty list. If we type in the method followed by a tab ↹ and shift ⇧ we see there are no input arguments.

![list_method_clear](list_method_clear.png)

In [482]:
l1.clear()

This method mutates the list l1 and there is no output.

In [483]:
l1

[]